/*app-body css*/
.app-body{
    background: url("../assets/images/login-bg.png") no-repeat center;
    background-size: 80%;
}
/*login-card css*/
.login-card{
    background: rgba(255, 255, 255, 0.51) !important;
}

/*app header css*/
._node_modules_react_toolbox_lib_app_bar__theme__appBar{
    background: #ffffff;
    overflow: hidden;
    z-index: 301 !important;
}

/*app header logo css*/
._node_modules_react_toolbox_lib_app_bar__theme__appBar a img{
    margin-top: -3px;
    width: 85px;
    float: left;
}

._node_modules_react_toolbox_lib_app_bar__theme__appBar button{
    color: #deb342 !important;
}

/*For all autofilled inputs css*/
input:-webkit-autofill {
    /* Change the white to any color ;) */
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

/*input focus bottom border color css */
._node_modules_react_toolbox_lib_input__theme__bar:before,
._node_modules_react_toolbox_lib_input__theme__bar:after{
    background-color: #008142;
}

/*input focus label color css */
._node_modules_react_toolbox_lib_input__theme__inputElement:focus:not([disabled]):not([readonly]) ~
._node_modules_react_toolbox_lib_input__theme__label:not(._node_modules_react_toolbox_lib_input__theme__fixed){
    color: #008142;
}

/*primary button css*/
.primary-button{
    background: #008142 !important;
}

/*secondary button css*/
.secondary-button{
    background: #deb342 !important;
}

/*app footer css*/
.app-footer{
    float: left;
    width: 100%;
    background: #008142;
}
.app-footer span{
    width: inherit;
    float: left;
    color: #fff;
    font-size: 14px;
}

/* button group css */
.button-group{
    width: 100%;
    position: relative;
}
/*buttons css*/
.button-group button{
    min-width: 120px;
    color: #ffffff !important;
}

.text-center{
    text-align: center;
}
/*margin from top css*/
.margin-top-5{margin-top: 5px}
.margin-top-10{margin-top: 10px}
.margin-top-15{margin-top: 15px}
.margin-top-20{margin-top: 20px}
.margin-top-25{margin-top: 25px}
.margin-top-30{margin-top: 30px}

/*margin from bottom css*/
.margin-bottom-5{margin-bottom: 5px}
.margin-bottom-10{margin-bottom: 10px}
.margin-bottom-15{margin-bottom: 15px}
.margin-bottom-20{margin-bottom: 20px}
.margin-bottom-25{margin-bottom: 25px}
.margin-bottom-30{margin-bottom: 30px}

/*margin from left css*/
.margin-left-5{margin-left: 5px}
.margin-left-10{margin-left: 10px}
.margin-left-15{margin-left: 15px}

/*margin from right css*/
.margin-right-5{margin-right: 5px}
.margin-right-10{margin-right: 10px}
.margin-right-15{margin-right: 15px}
