@font-face {
  font-family: 'Bank-Font';
  src:  url('fonts/Bank-Font.eot?490uxk');
  src:  url('fonts/Bank-Font.eot?490uxk#iefix') format('embedded-opentype'),
  url('fonts/Bank-Font.ttf?490uxk') format('truetype'),
  url('fonts/Bank-Font.woff?490uxk') format('woff'),
  url('fonts/Bank-Font.svg?490uxk#Bank-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global {
  [class^="bank-"], [class*=" bank-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Bank-Font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .bank-Banque-Saudi-Fransi:before {
    content: "\e900";
  }
  .bank-Bank-of-Bahrain-and-Kuwait2:before {
    content: "\e901";
  }
  .bank-BNP-Paribas2:before {
    content: "\e902";
  }
  .bank-Vietin-Bank:before {
    content: "\e903";
  }
  .bank-Bank-of-Ayudhya:before {
    content: "\e904";
  }
  .bank-Bankok-Bank:before {
    content: "\e905";
  }
  .bank-Kasikornbank:before {
    content: "\e906";
  }
  .bank-Krung-Thai-Bank:before {
    content: "\e907";
  }
  .bank-Siam-Commercial-Bank:before {
    content: "\e908";
  }
  .bank-Tisco-Bank:before {
    content: "\e909";
  }
  .bank-TMB-Bank:before {
    content: "\e90a";
  }
  .bank-BayernLB:before {
    content: "\e90b";
  }
  .bank-Commerz-Bank:before {
    content: "\e90c";
  }
  .bank-Dekabank:before {
    content: "\e90d";
  }
  .bank-Deutsche-Postbank:before {
    content: "\e90e";
  }
  .bank-European-Central-Bank:before {
    content: "\e90f";
  }
  .bank-German-Federal-Bank:before {
    content: "\e910";
  }
  .bank-GLS-Bank:before {
    content: "\e911";
  }
  .bank-HSH-Nordbank:before {
    content: "\e912";
  }
  .bank-HSN-Nordbank:before {
    content: "\e913";
  }
  .bank-Landesbank-Baden-Württemberg:before {
    content: "\e914";
  }
  .bank-Landesbank-Baden-Wurttemberg:before {
    content: "\e915";
  }
  .bank-NordLB:before {
    content: "\e916";
  }
  .bank-Wirecard:before {
    content: "\e917";
  }
  .bank-Abu-Dhabi-Commercial-Bank:before {
    content: "\e918";
  }
  .bank-Abu-Dhabi-Islamic-Bank:before {
    content: "\e919";
  }
  .bank-Arab-Bank:before {
    content: "\e91a";
  }
  .bank-Bank-of-Sharjah:before {
    content: "\e91b";
  }
  .bank-Citi-Bank:before {
    content: "\e91c";
  }
  .bank-Commercial-Bank-of-Dubai:before {
    content: "\e91d";
  }
  .bank-Emirates-Investment-Bank:before {
    content: "\e91e";
  }
  .bank-Emirates-NBD:before {
    content: "\e91f";
  }
  .bank-First-Gulf-Bank:before {
    content: "\e920";
  }
  .bank-HSBC-Bank:before {
    content: "\e921";
  }
  .bank-Mashreq-Bank:before {
    content: "\e922";
  }
  .bank-National-Bank-of-Abu-Dubai:before {
    content: "\e923";
  }
  .bank-Noor-Bank:before {
    content: "\e924";
  }
  .bank-Rak-Bank:before {
    content: "\e925";
  }
  .bank-Sharjah-Islamic-Bank:before {
    content: "\e926";
  }
  .bank-Union-National-Bank:before {
    content: "\e927";
  }
  .bank-AnT-Bank:before {
    content: "\e928";
  }
  .bank-Adabank:before {
    content: "\e929";
  }
  .bank-Akbank:before {
    content: "\e92a";
  }
  .bank-Anadolu-Bank:before {
    content: "\e92b";
  }
  .bank-Bank-Mellat:before {
    content: "\e92c";
  }
  .bank-Birlesik-Fon-Bankasi:before {
    content: "\e92d";
  }
  .bank-Credit-Agricole:before {
    content: "\e92e";
  }
  .bank-Deniz-Bank:before {
    content: "\e92f";
  }
  .bank-Deutsche-Bank:before {
    content: "\e930";
  }
  .bank-Fibab-Bank:before {
    content: "\e931";
  }
  .bank-Finans-Bank:before {
    content: "\e932";
  }
  .bank-Halk-Bank:before {
    content: "\e933";
  }
  .bank-ICBC-Turkey:before {
    content: "\e934";
  }
  .bank-ING-Group:before {
    content: "\e935";
  }
  .bank-Intesa-Sanpaolo2:before {
    content: "\e936";
  }
  .bank-Merrill-Lynch:before {
    content: "\e937";
  }
  .bank-Rabo-Bank:before {
    content: "\e938";
  }
  .bank-Royal-Bank-of-Scotland:before {
    content: "\e939";
  }
  .bank-Sekerbank:before {
    content: "\e93a";
  }
  .bank-Societe-Generale:before {
    content: "\e93b";
  }
  .bank-Turkish-Bank:before {
    content: "\e93c";
  }
  .bank-Turkish-Economic-Bank:before {
    content: "\e93d";
  }
  .bank-Turkiye-is-Bankasi:before {
    content: "\e93e";
  }
  .bank-Vakif-Bank:before {
    content: "\e93f";
  }
  .bank-Yapi-ve-Kredi-Bankasi:before {
    content: "\e940";
  }
  .bank-Ziraat-Bank:before {
    content: "\e941";
  }
  .bank-Alinma-Bank:before {
    content: "\e942";
  }
  .bank-Al-Rajhi-Bank:before {
    content: "\e943";
  }
  .bank-Arab-National-Bank:before {
    content: "\e944";
  }
  .bank-Bank-Bilad:before {
    content: "\e945";
  }
  .bank-National-Commercial-Bank:before {
    content: "\e946";
  }
  .bank-Riyad-Bank:before {
    content: "\e947";
  }
  .bank-saudia-arabia-banks-05:before {
    content: "\e948";
  }
  .bank-Saudi-British-Bank:before {
    content: "\e949";
  }
  .bank-Saudi-Hollandi-Bank:before {
    content: "\e94a";
  }
  .bank-Ahli-Bank:before {
    content: "\e94b";
  }
  .bank-Doha-Bank:before {
    content: "\e94c";
  }
  .bank-International-Bank-of-Qatar:before {
    content: "\e94d";
  }
  .bank-Qatar-Development-Bank:before {
    content: "\e94e";
  }
  .bank-Qatar-Islamic-Bank:before {
    content: "\e94f";
  }
  .bank-Qatar-National-Bank:before {
    content: "\e950";
  }
  .bank-Ally-Financial:before {
    content: "\e951";
  }
  .bank-American-Express:before {
    content: "\e952";
  }
  .bank-Bank-of-America:before {
    content: "\e953";
  }
  .bank-Bank-of-New-York-Mellon:before {
    content: "\e954";
  }
  .bank-BBnT:before {
    content: "\e955";
  }
  .bank-Capital-One:before {
    content: "\e956";
  }
  .bank-Charles-Schwab-Corporation:before {
    content: "\e957";
  }
  .bank-Citizens:before {
    content: "\e958";
  }
  .bank-Dominion-Bank:before {
    content: "\e959";
  }
  .bank-Fifth-Third-Bank:before {
    content: "\e95a";
  }
  .bank-Goldman-Sachs:before {
    content: "\e95b";
  }
  .bank-Huntington:before {
    content: "\e95c";
  }
  .bank-J-P-Morgan:before {
    content: "\e95d";
  }
  .bank-Key-Bank:before {
    content: "\e95e";
  }
  .bank-MnT-Bank:before {
    content: "\e95f";
  }
  .bank-Morgan-Stanley:before {
    content: "\e960";
  }
  .bank-MUFG-Union-Bank:before {
    content: "\e961";
  }
  .bank-Northern-Trust:before {
    content: "\e962";
  }
  .bank-PNC-Financial-Services:before {
    content: "\e963";
  }
  .bank-Regions-Financial-Corporation:before {
    content: "\e964";
  }
  .bank-Royal-Bank-of-Canada:before {
    content: "\e965";
  }
  .bank-Santander-Bank:before {
    content: "\e966";
  }
  .bank-State-Street-Corporation:before {
    content: "\e967";
  }
  .bank-Trust-Banks:before {
    content: "\e968";
  }
  .bank-USAA:before {
    content: "\e969";
  }
  .bank-US-Bank:before {
    content: "\e96a";
  }
  .bank-Wells-Fargo:before {
    content: "\e96b";
  }
  .bank-Barclays:before {
    content: "\e96c";
  }
  .bank-Lloyds-Banking-Group:before {
    content: "\e96d";
  }
  .bank-Ambank:before {
    content: "\e96e";
  }
  .bank-CIMB-Bank:before {
    content: "\e96f";
  }
  .bank-Hong-Leong-Bank:before {
    content: "\e970";
  }
  .bank-May-Bank:before {
    content: "\e971";
  }
  .bank-OCBC-Bank:before {
    content: "\e972";
  }
  .bank-Public-Bank-Berhad:before {
    content: "\e973";
  }
  .bank-RHB-Bank:before {
    content: "\e974";
  }
  .bank-United-Overseas-Bank:before {
    content: "\e975";
  }
  .bank-Alternative-Bank-Schweiz:before {
    content: "\e976";
  }
  .bank-CIM-Bank:before {
    content: "\e977";
  }
  .bank-Graubündner-Kantonalbank:before {
    content: "\e978";
  }
  .bank-ICB-Banking-Group:before {
    content: "\e979";
  }
  .bank-Migros-Bank:before {
    content: "\e97a";
  }
  .bank-SIX-Group:before {
    content: "\e97b";
  }
  .bank-Vontobel:before {
    content: "\e97c";
  }
  .bank-WIR-Bank:before {
    content: "\e97d";
  }
  .bank-Axis-Bank:before {
    content: "\e97e";
  }
  .bank-Bank-of-Ceylon:before {
    content: "\e97f";
  }
  .bank-Central-Bank-of-Srilanka:before {
    content: "\e980";
  }
  .bank-Commercial-Bank-of-Ceylon:before {
    content: "\e981";
  }
  .bank-DFCC-Bank:before {
    content: "\e982";
  }
  .bank-Hatton-National-Bank:before {
    content: "\e983";
  }
  .bank-ICICI-Bank:before {
    content: "\e984";
  }
  .bank-Sampath-Bank:before {
    content: "\e985";
  }
  .bank-Seylan-Bank:before {
    content: "\e986";
  }
  .bank-Gulf-Bank-of-Kuwait:before {
    content: "\e987";
  }
  .bank-National-Bank-of-Kuwait:before {
    content: "\e988";
  }
  .bank-Agricultural-Development-Bank-of-China:before {
    content: "\e989";
  }
  .bank-Bank-of-Beijing:before {
    content: "\e98a";
  }
  .bank-Bank-of-China1:before {
    content: "\e98b";
  }
  .bank-China-CITIC-Bank:before {
    content: "\e98c";
  }
  .bank-China-Construction-Bank:before {
    content: "\e98d";
  }
  .bank-China-Development-Bank:before {
    content: "\e98e";
  }
  .bank-China-Everbright-Bank:before {
    content: "\e98f";
  }
  .bank-China-Guangfa-Bank:before {
    content: "\e990";
  }
  .bank-Exim-Bank-of-China:before {
    content: "\e991";
  }
  .bank-Harbin-Bank:before {
    content: "\e992";
  }
  .bank-Hua-Xia-Bank:before {
    content: "\e993";
  }
  .bank-Industrial-and-Commercial-Bank-of-China:before {
    content: "\e994";
  }
  .bank-Industrial-Bank-China:before {
    content: "\e995";
  }
  .bank-Peoples-Bank-of-China:before {
    content: "\e996";
  }
  .bank-Shanghai-Pudong-Development-Bank:before {
    content: "\e997";
  }
  .bank-Alterna-Savings:before {
    content: "\e998";
  }
  .bank-B2B-Bank:before {
    content: "\e999";
  }
  .bank-Bank-of-Montreal:before {
    content: "\e99a";
  }
  .bank-Bridgewater-Bank:before {
    content: "\e99b";
  }
  .bank-Canadian-Imperial-Bank-of-Commerce:before {
    content: "\e99c";
  }
  .bank-Canadian-Western-Bank:before {
    content: "\e99d";
  }
  .bank-Laurentian-Bank-of-Canada:before {
    content: "\e99e";
  }
  .bank-National-Bank-of-Canada:before {
    content: "\e99f";
  }
  .bank-Scotiabank:before {
    content: "\e9a0";
  }
  .bank-Tangerine-Bank:before {
    content: "\e9a1";
  }
  .bank-AMP-Limited:before {
    content: "\e9a2";
  }
  .bank-Australia-and-New-Zealand-Banking-Group:before {
    content: "\e9a3";
  }
  .bank-Bank-Australia:before {
    content: "\e9a4";
  }
  .bank-Bank-of-Melbourne:before {
    content: "\e9a5";
  }
  .bank-Bank-of-Queensland:before {
    content: "\e9a6";
  }
  .bank-Bank-of-South-Australia:before {
    content: "\e9a7";
  }
  .bank-Bank-Vic:before {
    content: "\e9a8";
  }
  .bank-Bankwest:before {
    content: "\e9a9";
  }
  .bank-Bendigo-and-Adelaide-Bank:before {
    content: "\e9aa";
  }
  .bank-Beyond-Bank-Australia:before {
    content: "\e9ab";
  }
  .bank-Commonwealth-Bank:before {
    content: "\e9ac";
  }
  .bank-Greater-Bank:before {
    content: "\e9ad";
  }
  .bank-Heritage-Bank:before {
    content: "\e9ae";
  }
  .bank-Hume-Bank:before {
    content: "\e9af";
  }
  .bank-Macquarie-Group:before {
    content: "\e9b0";
  }
  .bank-National-Australia-Bank:before {
    content: "\e9b1";
  }
  .bank-P-and-N-Bank:before {
    content: "\e9b2";
  }
  .bank-Police-Bank:before {
    content: "\e9b3";
  }
  .bank-St-George-Bank:before {
    content: "\e9b4";
  }
  .bank-Suncorp-Group:before {
    content: "\e9b5";
  }
  .bank-Teachers-Mutuat-Bank:before {
    content: "\e9b6";
  }
  .bank-Westpac:before {
    content: "\e9b7";
  }
  .bank-Banca-Carige:before {
    content: "\e9b8";
  }
  .bank-BPER-Banca:before {
    content: "\e9b9";
  }
  .bank-Cassa-Depositi-e-Prestiti:before {
    content: "\e9ba";
  }
  .bank-Intesa-Sanpaolo:before {
    content: "\e9bb";
  }
  .bank-UBI-Banca:before {
    content: "\e9bc";
  }
  .bank-Unicredit:before {
    content: "\e9bd";
  }
  .bank-Alpha-Bank:before {
    content: "\e9be";
  }
  .bank-Bank-of-Greece:before {
    content: "\e9bf";
  }
  .bank-Eurobank-Ergasias:before {
    content: "\e9c0";
  }
  .bank-National-Bank-of-Greece:before {
    content: "\e9c1";
  }
  .bank-Piraeus-Bank:before {
    content: "\e9c2";
  }
  .bank-Allahabad-Bank:before {
    content: "\e9c3";
  }
  .bank-Andhra-Bank:before {
    content: "\e9c4";
  }
  .bank-Canara-Bank:before {
    content: "\e9c5";
  }
  .bank-Dena-Bank:before {
    content: "\e9c6";
  }
  .bank-Oriental-Bank-of-Commerce:before {
    content: "\e9c7";
  }
  .bank-Punjab-n-Sind-Bank:before {
    content: "\e9c8";
  }
  .bank-Punjab-National-Bank:before {
    content: "\e9c9";
  }
  .bank-State-Bank-of-India:before {
    content: "\e9ca";
  }
  .bank-UCO-Bank:before {
    content: "\e9cb";
  }
  .bank-Banco-Santander:before {
    content: "\e9cc";
  }
  .bank-Bank-Norwegian:before {
    content: "\e9cd";
  }
  .bank-DNB-ASA:before {
    content: "\e9ce";
  }
  .bank-Nordlandsbanken:before {
    content: "\e9cf";
  }
  .bank-YA-Bank:before {
    content: "\e9d0";
  }
  .bank-Allied-Irish-Banks:before {
    content: "\e9d1";
  }
  .bank-Anglo-Irish-Bank:before {
    content: "\e9d2";
  }
  .bank-Bank-of-Irland:before {
    content: "\e9d3";
  }
  .bank-KBC-Bank-Irland:before {
    content: "\e9d4";
  }
  .bank-Alm-Brand:before {
    content: "\e9d5";
  }
  .bank-Danske-Bank:before {
    content: "\e9d6";
  }
  .bank-JYSKE-Bank:before {
    content: "\e9d7";
  }
  .bank-Nordea-Bank-Danmark:before {
    content: "\e9d8";
  }
  .bank-Nykredit:before {
    content: "\e9d9";
  }
  .bank-Saxo-Bank:before {
    content: "\e9da";
  }
  .bank-Syd-Bank:before {
    content: "\e9db";
  }
  .bank-Banks-of-Singapore:before {
    content: "\e9dc";
  }
  .bank-DBS-Bank:before {
    content: "\e9dd";
  }
  .bank-POSB-Bank:before {
    content: "\e9de";
  }
  .bank-Bank-Audi:before {
    content: "\e9df";
  }
  .bank-Bank-of-Jordan:before {
    content: "\e9e0";
  }
  .bank-Cairo-Amman-Bank:before {
    content: "\e9e1";
  }
  .bank-Jordan-Ahli-Bank:before {
    content: "\e9e2";
  }
  .bank-Jordan-Kuwait-Bank:before {
    content: "\e9e3";
  }
  .bank-Bank-of-Bahrain-and-Kuwait:before {
    content: "\e9e4";
  }
  .bank-BNP-Paribas:before {
    content: "\e9e5";
  }
  .bank-Banca-Mifel:before {
    content: "\e9e6";
  }
  .bank-Banco-Azteca:before {
    content: "\e9e7";
  }
  .bank-Bank-of-Mexico:before {
    content: "\e9e8";
  }
  .bank-Banregio:before {
    content: "\e9e9";
  }
  .bank-Compartamos-Banco:before {
    content: "\e9ea";
  }
  .bank-Banco-de-Bogota:before {
    content: "\e9eb";
  }
  .bank-Banco-de-Occidente-Credencial:before {
    content: "\e9ec";
  }
  .bank-Bancolombia:before {
    content: "\e9ed";
  }
  .bank-Daviviendaa:before {
    content: "\e9ee";
  }
  .bank-Banco-Bradesco:before {
    content: "\e9ef";
  }
  .bank-Banco-do-Brasil:before {
    content: "\e9f0";
  }
  .bank-Banco-Safra:before {
    content: "\e9f1";
  }
  .bank-Banrisul:before {
    content: "\e9f2";
  }
  .bank-Caixa:before {
    content: "\e9f3";
  }
  .bank-Itau:before {
    content: "\e9f4";
  }
  .bank-Banco-Credicoop:before {
    content: "\e9f5";
  }
  .bank-Banco-Hipotecario:before {
    content: "\e9f6";
  }
  .bank-Banco-Macro:before {
    content: "\e9f7";
  }
  .bank-Banco-Patagonia:before {
    content: "\e9f8";
  }
  .bank-Bank-of-the-Argentine-Nation:before {
    content: "\e9f9";
  }
  .bank-Central-Bank-of-Argentina:before {
    content: "\e9fa";
  }
  .bank-Al-Baraka:before {
    content: "\e9fb";
  }
  .bank-Allied-Bank:before {
    content: "\e9fc";
  }
  .bank-Askari-Bank:before {
    content: "\e9fd";
  }
  .bank-Bank-Al-Habib:before {
    content: "\e9fe";
  }
  .bank-Bank-Alfalah:before {
    content: "\e9ff";
  }
  .bank-Bank-of-Punjab:before {
    content: "\ea00";
  }
  .bank-BankIslami:before {
    content: "\ea01";
  }
  .bank-Dubai-Islamic-Bank:before {
    content: "\ea02";
  }
  .bank-Faysal-Bank:before {
    content: "\ea03";
  }
  .bank-HBL:before {
    content: "\ea04";
  }
  .bank-JS-Bank:before {
    content: "\ea05";
  }
  .bank-MCB-Limited:before {
    content: "\ea06";
  }
  .bank-Meezan-Bank:before {
    content: "\ea07";
  }
  .bank-NBP:before {
    content: "\ea08";
  }
  .bank-NIB-Bank:before {
    content: "\ea09";
  }
  .bank-Payment-Payoneer:before {
    content: "\ea0a";
  }
  .bank-Payment-Paypal:before {
    content: "\ea0b";
  }
  .bank-Payment-Skrill:before {
    content: "\ea0c";
  }
  .bank-Samba-Bank:before {
    content: "\ea0d";
  }
  .bank-Silk-Bank:before {
    content: "\ea0e";
  }
  .bank-Sindh-Bank:before {
    content: "\ea0f";
  }
  .bank-Soneri-Bank:before {
    content: "\ea10";
  }
  .bank-Standard-Chartered:before {
    content: "\ea11";
  }
  .bank-Summit-Bank:before {
    content: "\ea12";
  }
  .bank-United-Bank:before {
    content: "\ea13";
  }
}
