@font-face {
  font-family: 'Bank-fonts';
  src:  url('fonts/Bank-fonts.eot?vusgic');
  src:  url('fonts/Bank-fonts.eot?vusgic#iefix') format('embedded-opentype'),
  url('fonts/Bank-fonts.ttf?vusgic') format('truetype'),
  url('fonts/Bank-fonts.woff?vusgic') format('woff'),
  url('fonts/Bank-fonts.svg?vusgic#Bank-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global {
  [class^="bank-"], [class*=" bank-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Bank-fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .bank-banks_AL-BARAKA:before {
    content: "\e900";
  }
  .bank-banks_ALLIED-BANK:before {
    content: "\e901";
  }
  .bank-online-payment_paypal:before {
    content: "\e902";
  }
  .bank-banks_ASKARI-BANK:before {
    content: "\e90f";
  }
  .bank-banks_BANK-AL-HABIB:before {
    content: "\e910";
  }
  .bank-banks_BANK-ALFLAH:before {
    content: "\e911";
  }
  .bank-banks_BANK-ISLAMI:before {
    content: "\e912";
  }
  .bank-banks_BOP-BANk:before {
    content: "\e913";
  }
  .bank-banks_DUBAI-ISLAMIC-BANK:before {
    content: "\e914";
  }
  .bank-banks_FAISAL-BANK:before {
    content: "\e915";
  }
  .bank-banks_HBL:before {
    content: "\e916";
  }
  .bank-banks_JS-BANK:before {
    content: "\e917";
  }
  .bank-banks_MCB:before {
    content: "\e918";
  }
  .bank-banks_MEEZAN-BANK:before {
    content: "\e919";
  }
  .bank-banks_NBP:before {
    content: "\e91a";
  }
  .bank-banks_NIB-BANK:before {
    content: "\e91b";
  }
  .bank-banks_SAMBA-BANK:before {
    content: "\e91c";
  }
  .bank-banks_SILKBANK:before {
    content: "\e91d";
  }
  .bank-banks_SINDH-BANK:before {
    content: "\e91e";
  }
  .bank-banks_SONERI-BANK:before {
    content: "\e91f";
  }
  .bank-banks_STANDARD-CHARTERET:before {
    content: "\e920";
  }
  .bank-banks_SUMMIT-BANK:before {
    content: "\e921";
  }
  .bank-banks_UBL:before {
    content: "\e922";
  }
  .bank-online-payment_payoneer:before {
    content: "\e923";
  }
  .bank-online-payment_Skrill:before {
    content: "\e92c";
  }
}
