@font-face {
  font-family: 'Bank-Fonts';
  src:  url('fonts/Bank-Fonts.eot?rwmypu');
  src:  url('fonts/Bank-Fonts.eot?rwmypu#iefix') format('embedded-opentype'),
  url('fonts/Bank-Fonts.ttf?rwmypu') format('truetype'),
  url('fonts/Bank-Fonts.woff?rwmypu') format('woff'),
  url('fonts/Bank-Fonts.svg?rwmypu#Bank-Fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global {
  [class^="bank-"], [class*=" bank-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Bank-Fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .bank-AnT-Bank:before {
    content: "\e92f";
  }
  .bank-Adabank:before {
    content: "\e938";
  }
  .bank-Akbank:before {
    content: "\e939";
  }
  .bank-Anadolu-Bank:before {
    content: "\e93a";
  }
  .bank-Bank-Mellat:before {
    content: "\e93b";
  }
  .bank-Birlesik-Fon-Bankasi:before {
    content: "\e93c";
  }
  .bank-Credit-Agricole:before {
    content: "\e93d";
  }
  .bank-Deniz-Bank:before {
    content: "\e93e";
  }
  .bank-Deutsche-Bank:before {
    content: "\e93f";
  }
  .bank-Fibab-Bank:before {
    content: "\e940";
  }
  .bank-Finans-Bank:before {
    content: "\e941";
  }
  .bank-Halk-Bank:before {
    content: "\e942";
  }
  .bank-ICBC-Turkey:before {
    content: "\e943";
  }
  .bank-ING-Group:before {
    content: "\e944";
  }
  .bank-Intesa-Sanpaolo:before {
    content: "\e945";
  }
  .bank-Merrill-Lynch:before {
    content: "\e946";
  }
  .bank-Rabo-Bank:before {
    content: "\e947";
  }
  .bank-Royal-Bank-of-Scotland:before {
    content: "\e948";
  }
  .bank-Sekerbank:before {
    content: "\e949";
  }
  .bank-Societe-Generale:before {
    content: "\e94a";
  }
  .bank-Turkish-Bank:before {
    content: "\e94b";
  }
  .bank-Turkish-Economic-Bank:before {
    content: "\e94c";
  }
  .bank-Turkiye-is-Bankasi:before {
    content: "\e94d";
  }
  .bank-Vakif-Bank:before {
    content: "\e94e";
  }
  .bank-Yapi-ve-Kredi-Bankasi:before {
    content: "\e94f";
  }
  .bank-Ziraat-Bank:before {
    content: "\e950";
  }
  .bank-Abu-Dhabi-Commercial-Bank:before {
    content: "\e919";
  }
  .bank-Abu-Dhabi-Islamic-Bank:before {
    content: "\e91a";
  }
  .bank-Arab-Bank:before {
    content: "\e91b";
  }
  .bank-Bank-of-Sharjah:before {
    content: "\e91c";
  }
  .bank-Citi-Bank:before {
    content: "\e91d";
  }
  .bank-Commercial-Bank-of-Dubai:before {
    content: "\e91e";
  }
  .bank-Emirates-Investment-Bank:before {
    content: "\e91f";
  }
  .bank-Emirates-NBD:before {
    content: "\e920";
  }
  .bank-First-Gulf-Bank:before {
    content: "\e921";
  }
  .bank-HSBC-Bank:before {
    content: "\e922";
  }
  .bank-Mashreq-Bank:before {
    content: "\e923";
  }
  .bank-National-Bank-of-Abu-Dubai:before {
    content: "\e924";
  }
  .bank-Noor-Bank:before {
    content: "\e925";
  }
  .bank-Rak-Bank:before {
    content: "\e926";
  }
  .bank-Sharjah-Islamic-Bank:before {
    content: "\e927";
  }
  .bank-Union-National-Bank:before {
    content: "\e928";
  }
  .bank-Alinma-Bank:before {
    content: "\e929";
  }
  .bank-Al-Rajhi-Bank:before {
    content: "\e92a";
  }
  .bank-Arab-National-Bank:before {
    content: "\e92b";
  }
  .bank-Bank-Bilad:before {
    content: "\e92c";
  }
  .bank-National-Commercial-Bank:before {
    content: "\e92d";
  }
  .bank-Riyad-Bank:before {
    content: "\e92e";
  }
  .bank-Saudi-British-Bank:before {
    content: "\e930";
  }
  .bank-Saudi-Hollandi-Bank:before {
    content: "\e931";
  }
  .bank-Ahli-Bank:before {
    content: "\e932";
  }
  .bank-Doha-Bank:before {
    content: "\e933";
  }
  .bank-International-Bank-of-Qatar:before {
    content: "\e934";
  }
  .bank-Qatar-Development-Bank:before {
    content: "\e935";
  }
  .bank-Qatar-Islamic-Bank:before {
    content: "\e936";
  }
  .bank-Qatar-National-Bank:before {
    content: "\e937";
  }
  .bank-Al-Baraka:before {
    content: "\e900";
  }
  .bank-Allied-Bank:before {
    content: "\e901";
  }
  .bank-Askari-Bank:before {
    content: "\e902";
  }
  .bank-Bank-Al-Habib:before {
    content: "\e903";
  }
  .bank-Bank-Alfalah:before {
    content: "\e904";
  }
  .bank-Bank-of-Punjab:before {
    content: "\e905";
  }
  .bank-BankIslami:before {
    content: "\e906";
  }
  .bank-Dubai-Islamic-Bank:before {
    content: "\e907";
  }
  .bank-Faysal-Bank:before {
    content: "\e908";
  }
  .bank-HBL:before {
    content: "\e909";
  }
  .bank-JS-Bank:before {
    content: "\e90a";
  }
  .bank-MCB-Limited:before {
    content: "\e90b";
  }
  .bank-Meezan-Bank:before {
    content: "\e90c";
  }
  .bank-NBP:before {
    content: "\e90d";
  }
  .bank-NIB-Bank:before {
    content: "\e90e";
  }
  .bank-Payment-Payoneer:before {
    content: "\e90f";
  }
  .bank-Payment-Paypal:before {
    content: "\e910";
  }
  .bank-Payment-Skrill:before {
    content: "\e911";
  }
  .bank-Samba-Bank:before {
    content: "\e912";
  }
  .bank-Silk-Bank:before {
    content: "\e913";
  }
  .bank-Sindh-Bank:before {
    content: "\e914";
  }
  .bank-Soneri-Bank:before {
    content: "\e915";
  }
  .bank-Standard-Chartered:before {
    content: "\e916";
  }
  .bank-Summit-Bank:before {
    content: "\e917";
  }
  .bank-United-Bank:before {
    content: "\e918";
  }
}