@font-face {
  font-family: 'Currency';
  src:  url('fonts/Currency.eot?1oyrup');
  src:  url('fonts/Currency.eot?1oyrup#iefix') format('embedded-opentype'),
  url('fonts/Currency.ttf?1oyrup') format('truetype'),
  url('fonts/Currency.woff?1oyrup') format('woff'),
  url('fonts/Currency.svg?1oyrup#Currency') format('svg');
  font-weight: normal;
  font-style: normal;
}