/* CSS declarations go here */
.add-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 101;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}

.auth {
    top: 81px;
    right: 20px;
    z-index: 100;
    left: auto;
}

.hide {
    display: none;
}

.active{
    display: list-item;
    background: #eee;
}

.float-right{
    float: right;
}

.dashboard-card-group{
  margin: 0 0 25px 25px;
  display: flex;
  width: 100%;
}

.dashboard-card-group .card {
  justify-content: space-between;
}

.dashboard-card-group .card:first-child {
  margin-right: 25px;
}

.dashboard-card{
    margin: 0 0 25px 25px;
}

.dashboard-dropdown{
  margin: 0 0 25px 25px;
  width: 100%;
}

.dashboard-autocomplete {
    margin: 25px 0 0 25px;
    width: 100%
}
.dashboard-card-icon {
    margin-right: 1.3rem;
    font-size: 2.6rem;
    color: #757575;
}

.list li{
    border-bottom: #eeeeee solid 1px;
}

.pdf-generator {
    margin-left: auto
}
