/* CSS declarations go here */
.add-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 101;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}

.auth {
    top: 81px;
    right: 20px;
    z-index: 100;
    left: auto;
}

.hide {
    display: none;
}

.active{
    display: list-item;
    background: #eee;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.margin-left{
    margin-left: auto;
}
.margin-right{
    margin-right: auto;
}
.dashboard-card-group{
  margin:0px 0 25px 0px;
  display: flex;
  width: 100%;
}

.dashboard-card-group .card {
  justify-content: space-between;
  margin-right: 25px;
}

.dashboard-card-group .card:last-child {
  margin-right: 0;
}

.dashboard-card{
    margin: 0 0 25px 0px;
}

.dashboard-dropdown{
    /*margin: 0 0 25px 25px;*/
    margin:0;
    padding: 2% 5%;
    width: 100%
}

.dashboard-autocomplete {
    /*margin: 25px 0 0 25px;*/
    margin:0;
    padding: 0% 5%;
    width: 100%
}
.dashboard-card-icon {
    margin-right: 1.3rem;
    font-size: 2.6rem;
    color: #757575;
}

.list li{
    border-bottom: #eeeeee solid 1px;
}

.list li.active{
    background: #cccccc;
}

.pdf-generator {
    text-align: right;
    width: 100%;
}

.report-btn{
    display: inline-block;
}

.expenses-bill {
    width: 100%;
}

.sidebar-buttons-group {
    /*position: absolute;*/
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 12px 10px;
    left: 0;
}

.bill-group {
    position: relative;
}

.bill-change-button {
    position: absolute;
    top: 0;
    right: 0;
}

.area-chart{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 400px;
    background-color: #fff;
}