.projects{
    flex: 1;
    display:  flex;
    position: relative;
    overflow: auto;
}

.projects .container{
    flex: 1;
    padding: 1.8rem;
    overflow-y: auto
}
.projects .container .flex{
    display: flex;
    flex-direction: row;
    flex-grow : 3;
    justify-content: space-around;
    width: 100%;
}

.header-buttons{
    color: white;
}

.page-title{
    padding: 30px 50px;
    background-color: #008142;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-grow : 2;
    justify-content: space-between;
}

.drop-down-select{
    position: relative;
}

.drop-down-select .close{
    position: absolute;
    bottom: 18px;
    right: -10px;
}



.dialog-box{
    overflow: auto;
}

.tiny-scroll::-webkit-scrollbar-track
 {
     margin-top: 5px;
     -webkit-box-shadow:transparent;
     background-color: transparent;
     border-radius: 2px;
 }
.tiny-scroll::-webkit-scrollbar
 {
     width: 5px;
     height: 5px;
     background-color: transparent;
 }
.tiny-scroll::-webkit-scrollbar-thumb
 {
     background-color: transparent;
     border-radius: 5px;
 }
.tiny-scroll:hover::-webkit-scrollbar-thumb
 {
     background-color: #cccccc;
}

.forward-icon{
    color: green;
}

.backward-icon{
    transform: rotate(180deg);
    color: #d80000;
}