$color-primary: #008142 !default;
$color-primary-dark: #fff !default;

$color-accent: #deb342 !default;
$color-accent-dark: #deb342 !default;

$color-danger: #c71111 !default;

$color-text: #333333 !default;
$color-text-light: lighten(saturate(adjust-hue($color-text, 0.0000), 0.0000), 20.0000);

@import url(http://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);
$rtl-font: 'Noto Nastaliq Urdu Draft', serif;
$normal-font: 'Nexa Light Regular';
$preferred-font: 'Nexa Bold Regular', 'Arial', sans-serif !default;

@font-face {
  font-family: 'Nexa Light Regular';
  src: url('/fonts/nexa_light-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Bold Regular';
  src: url('/fonts/nexa_bold-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $normal-font;
}

:lang(ur) {
  font-family: $rtl-font;
}

:global {
  .material-icons {
    font-family: 'Material Icons' !important;
  }
}