$color-primary: #008142 !default;
$color-primary-dark: #fff !default;

$color-accent: #deb342 !default;
$color-accent-dark: #deb342 !default;

$color-danger: #c71111 !default;

$color-text: #333333 !default;
$color-text-light: lighten(saturate(adjust-hue($color-text, 0.0000), 0.0000), 20.0000);

$normal-font: 'Nexa Light Regular';
$preferred-font: 'Nexa Bold Regular', 'Arial', sans-serif !default;

@font-face {
  font-family: 'Nexa Light Regular';
  src: url('/fonts/nexa_light-webfont.woff2') format('woff2'),
  url('/fonts/nexa_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Nexa Bold Regular';
  src: url('/fonts/nexa_bold-webfont.woff2') format('woff2'),
  url('/fonts/nexa_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: $normal-font;
}

:root {
  --color-primary: #008142;
}
