@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.autocomplete {
  position: relative;
  padding: 0 0 $unit - 0.5 0;
  .value{
    position: absolute;
    line-height: $unit * 2.5;
    padding: $unit - 0.8 $unit * 3 0 $unit;
    background: $color-accent;
    color: $color-primary-dark;
    z-index: $z-index-highest;
    margin-top: $unit;
    span{
      margin: 0 $unit - 0.6 0;
      svg{
        background: $color-primary-dark;
        path{
          stroke: #8e8585;
        }
        &:hover{
          background: $color-primary-dark;
          path{
            stroke: #8e8585;
          }
        }
      }
    }
  }
  .values{
    padding: 0;
  }
}

.input {
  padding: $unit * 2 0 0;
  margin-top: $unit + 0.7;
  label{
    color: $color-text-light;
  }
  &:after{
    top: 60%;
  }
}