@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.autocomplete {
  position: relative;
  padding: 0 0 $unit - 0.5 0;
  .value{
    line-height: $unit * 2;
    padding: $unit - 0.8 $unit * 3 0 $unit;
    background: $color-accent;
    color: $color-primary-dark;
    z-index: $z-index-highest;
    margin-top: $unit;
    float: left;
    span{
      margin: 0 $unit - 0.6 0;
      top: -1px;
      svg{
        background: $color-primary-dark;
        path{
          stroke: #8e8585;
        }
        &:hover{
          background: $color-primary-dark;
          path{
            stroke: #8e8585;
          }
        }
      }
    }
  }
  .values{
    padding: 0;
  }
}

.input {
  padding: $unit * 2 0 0;
  margin-top: $unit + 0.7;
  label{
    color: $color-text-light;
  }
  &:after{
    top: 60%;
  }
}

/////////////////////////////////////////////////
//////////// rtl styling start here /////////////
/////////////////////////////////////////////////
body[dir="rtl"] .autocomplete .value span:first-of-type {
  margin: -8px 0 0 0;
  float: left;
  padding: 6px 0 6px 0;
}
body[dir="rtl"] .autocomplete .value span:last-of-type {
  top: 1px;
}
/////////////////////////////////////////////////
//////////// rtl styling end here ///////////////
/////////////////////////////////////////////////

////// extra small media query start here ///////////
@media (min-width: 320px) and (max-width: 767px){
  body[dir="rtl"] .input:after {
    top: 75%;
    right: auto;
    left: 0;
  }
}
////// extra small media query end here /////////////