@import "~react-toolbox/lib/list/config.css";

.autocomplete {
  position: relative;
  padding: 0 0 calc(var(--unit) - 5) 0;
  .value{
    line-height: calc(var(--unit) * 2);
    padding: calc(var(--unit) - 8) calc(var(--unit) * 3) 0 var(--unit);
    background: $color-accent;
    color: $color-primary-dark;
    z-index: var(--z-index-highest);
    margin-top: var(--unit);
    float: left;
    span{
      margin: 0 calc(var(--unit) - 6) 0;
      top: -1px;
      svg{
        background: $color-primary-dark;
        path{
          stroke: #8e8585;
        }
        &:hover{
          background: $color-primary-dark;
          path{
            stroke: #8e8585;
          }
        }
      }
    }
  }
  .values{
    padding: 0;
  }
}

.input {
  padding: calc(var(--unit) * 2) 0 0;
  margin-top: calc(var(--unit) + 7);
  label{
    color: $color-text-light;
  }
  &:after{
    top: 60%;
  }
}