@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/card/config";

.card{
  overflow: visible;
  &:first-child{
    box-shadow: 0 0 0 0;
    border-radius: 0;
    padding: 0 $unit 0 $unit * 2;
  }
}

/////////////////////////////////////////////////
/////// Extra Small Media Query Start Here //////
/////////////////////////////////////////////////
@media (min-width: 320px) and (max-width: 767px){
  .responsiveCardFirst{
    padding: 0 1rem !important;
  }
}
/////////////////////////////////////////////////
//////// Extra Small Media Query End Here ///////
/////////////////////////////////////////////////
body[dir="rtl"] label {
  right: 0;
}
