@import "~react-toolbox/lib/variables.css";
@import "~react-toolbox/lib/list/config.css";


.card{
  background: rgba($color-primary, 0.8);
  padding: $unit * 4.5 0 $unit * 4 0;
  height: $unit * 17;
}