@import "~react-toolbox/lib/variables.css";
@import "~react-toolbox/lib/dropdown/config.css";

$input-padding: 2 * $unit !default;

.field {
  padding: $input-padding 0 $unit - 0.5;
  label{
    color: $color-text-light;
  }
}