@import "~react-toolbox/lib/list/config.css";

.backgroundImage{
  background: url("../assets/images/pages-bg.png") no-repeat;
  background-size: cover;
}

.dashboardSection{
  margin: 0 0 calc(var(--unit) * 2) 0;
  width: 100%;
  overflow: visible;
  .cardBox{
    padding: 0 1.5% 0 0;
    width: 100%;
    overflow: visible;
    .card{
      height: calc(var(--unit) * 17.5);
      margin-top: calc(var(--unit) * 2);
      margin-left: calc(var(--unit) * 3);
    }
  }
}
.availableSection{
  width: 100%;
  .availableTitle{
    color: $color-primary-dark;
    font-size: calc(var(--font-size-small) * 2.1);
    margin: 0 0 calc(var(--unit) - 5) 0;
  }
  .divTitle{
    h2{
      color: $color-primary-dark;
      font-size: calc(var(--font-size-small) * 3.5);
      letter-spacing: calc(var(--unit) - 7);
      display: inline-block;
      margin: 0 calc(var(--unit) * 2.8) 0 0;
    }
  }
}
.dashboardCardGroup{
  margin: 0 0 25px 0;
  display: flex;
  width: 100%;
}
.dashboardDropdown{
  > div{
    display: inline-block;
    width: 45%;
    &:last-of-type{
      float: right;
    }
    label{
      font-size: var(--font-size-small);

      color: $color-text-light;
    }
    > div{
      padding: calc(var(--unit) * 2) 0 0;
    }
  }
}

.incomeBox{
  margin: 0 auto;
  width: calc(var(--unit) * 20.3);
  .divTitle{
    margin: calc(var(--unit) * 2.5) 0 calc(var(--unit) - 5) 0;
    font-size: calc(var(--font-size-big) - 1);
    color: $color-text;
    letter-spacing: calc(var(--unit) - 9);
  }
  .title{
    h2{
      margin: 0 calc(var(--unit) * 2.5) calc(var(--unit) * 2.1) 0;
      color: $color-primary;
      font-size: calc(var(--font-size-big) * 2);
      letter-spacing: calc(var(--unit) - 8);
      display: inline-block;
    }
  }
  .reportBtn{
    width: 100%;
    text-align: center;
    margin: 0;
    button{
      color: $color-text;
      font-size: var(--font-size-big);
      span{
        width: calc(var(--unit) * 2);
      }
    }
  }
}
.expensesBox{
  margin: 0 auto;
  width: calc(var(--unit) * 20.5);
  .divTitle{
    margin: calc(var(--unit) * 2.5) 0 calc(var(--unit) - 5) 0;
    font-size: calc(var(--font-size-big) - 1);
    color: $color-text;
    letter-spacing: calc(var(--unit) - 9);
  }
  .title{
    h2{
      margin: 0 calc(var(--unit) * 2.5) calc(var(--unit) * 2.1) 0;
      color: $color-danger;
      font-size: calc(var(--font-size-big) * 2);
      letter-spacing: calc(var(--unit) - 8);
      display: inline-block;
    }
  }
  .reportBtn{
    width: 100%;
    text-align: center;
    margin: 0;
    button{
      color: $color-text;
      font-size: var(--font-size-big);
      span{
        width: calc(var(--unit) * 2);
      }
    }
  }
}
.bg{
  width: 100%;
}
.availableSection{
  background: url("../assets/images/dollars.png") $color-primary no-repeat;
  background-position: 130% 50%;
  height: calc(var(--unit) * 17);
}
.recentActivitiesWrapper{
  width: 100%;
  margin-top: calc(var(--unit) * 3);
}
.incomeOverviewWrapper{
  width: 100%;
}
