.reports{
  width: 100%;
  padding: 0 15px;
  > div{
    > div{
      width: 16%;
      display: inline-block;
      margin-right: 10px;
      ul{
        > div{
          line-height: 2rem;
          padding: 0.2rem 3rem 0 1rem;
          background: #deb342;
          color: #fff;
          z-index: 300;
          margin-top: 1rem;
          float: left;
          span{
            margin: 0 0.4rem 0;
            top: -1px;
            svg{
              background: white !important;
              path{
                stroke: #8e8585 !important;
              }
            }
          }
        }
      }
    }
  }
}

.paginationList{
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  ul{
    text-align: center;
    li{
      display: inline-block;
      margin-left: 15px;
    }
  }
}