.reports{
  width: 100%;
  padding: 30px 30px 0;
  overflow: auto;
}

.paginationList{
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  ul{
    text-align: center;
    margin: 40px 0 20px 0;
    li{
      display: inline-block;
      margin-left: 15px;
      font-size: 22px;
      color: #333;
    }
  }
}

:global {
  .active{
    color: $color-primary !important;
  }
}