.table{
  padding-top: 20px;
  thead{
    tr{
      th{
        font-size: 2rem;
        color: #333;
        border-right: solid 0.2rem rgba(0, 0, 0, 0.12);
        padding: 0.2rem 3.5rem 0 3.5rem;
        &:first-child{
          font-size: 0;
          padding: 0 2rem;
          width: 80px;
        }
        &:nth-child(2){
          width: 190px;
        }
        &:nth-child(3){
          border-right: 0;
        }
        &:nth-child(4){
          text-align: right;
        }
        &:last-child{
          font-size: 0;
          padding: 0 2rem;
          width: 80px;
          border-right: 0;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        font-size: 2rem;
        text-transform: capitalize;
        color: #333333;
        border-bottom: solid 0.2rem rgba(0, 0, 0, 0.12);
        border-right: solid 0.2rem rgba(0, 0, 0, 0.12);
        padding: 0.7rem 3.5rem 0 3.5rem;
        &:first-child{
          text-align: center;
          padding: 10px 2rem 0;
          width: 80px;
        }
        &:nth-child(2){
          width: 190px;
        }
        &:nth-child(3){
          border-right: 0;
        }
        &:nth-child(4){
          text-align: right;
        }
        &:last-child{
          text-align: center;
          padding: 10px 2rem 0;
          width: 80px;
          border-right: 0;
        }
      }
      &:last-child{
        td{
          border-right: solid 0.2rem rgba(0, 0, 0, 0.12);
        }
      }
      &:last-child{
        td{
          &:last-child{
            border-right: 0;
          }
          &:nth-child(3){
            border-right: 0;
          }
        }
      }
    }
  }
}
.cardReport{
  .titleBg{
    padding: 0 50px 0 50px;
    background: #008142;
    h3{
      color: #fff;
      letter-spacing: 0.1rem;
      font-size: 2.5rem;
      display: inline-block;
      padding: 23px 30px 17px 0;
    }
    .rightButtons{
      float: right;
      margin-top: 20px;
      button{
        font-size: 20px;
        padding: 4px 10px 0 10px;
        line-height: 40px;
        height: 40px;
        color: white;
        &:first-child{
          margin-right: 20px;
        }
      }
    }
  }
}

body[dir="rtl"] .rightButtons {
  float: left !important;
}

//////////////// extra small media query start here ///////////////////
@media (min-width: 320px) and (max-width: 767px){
  .cardReport .titleBg{
    padding: 0 20px 0;
  }
  .cardReport .titleBg h3{
    padding: 23px 0 17px 0;
  }
  body[dir="rtl"] .cardReport .titleBg h3 {
    padding: 7px 0 7px 0;
  }
  .cardReport .titleBg .rightButtons button{
    margin: 0;
    padding: 3px 0 0 0 !important;
    font-size: 0;
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #008142 !important;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 302;
    box-shadow: 0 0 10px 0 #666;
  }
  .cardReport .titleBg .rightButtons button:first-of-type{
    margin: 0 !important;
  }
  .cardReport .titleBg .rightButtons button:last-of-type{
    bottom: 55px;
    right: 10px;
    background: #c71111 !important;
  }
  .cardReport .titleBg .rightButtons button:last-of-type span{
    display: none;
  }
  .cardReport .titleBg .rightButtons button:last-of-type:before{
    content: "";
    width: 13px;
    height: 3px;
    display: inline-block;
    background: white;
    position: relative;
    top: -1px;
  }
  .cardReport .titleBg .rightButtons button span{
    font-size: 20px;
    margin: 0;
  }
  .table{
    padding-top: 10px;
  }
  .table thead{
    display: none;
  }
  .table thead tr th{
    padding: 0.2rem 2rem 0 2rem;
    display: none;
  }

  .table tbody tr td{
    font-size: 16px;
  }
  .table tbody tr td:first-of-type svg{
    position: relative;
    top: 2.5px;
  }
  .table tbody tr td:first-of-type{
    padding: 10px 0 6px 3px;
    width: 10%;
    float: left;
    border-right: 0;
  }
  .table tbody tr td:nth-of-type(2){
    display: none;
  }
  .table tbody tr td:last-of-type{
    display: none;
  }
  .table tbody tr td:nth-of-type(3){
    width: 55%;
    float: left;
    padding: 10px 0 6px 10px;
  }
  .table tbody tr td:nth-of-type(4){
    width: 35%;
    float: left;
    padding: 10px 10px 6px 10px;
    border-right: 0;
  }
}
//////////////// extra small media query end here /////////////////////

@media (min-width: 320px) and (max-width: 540px){
  .cardReport .titleBg{
    padding: 0 15px 10px;
  }
  .cardReport .titleBg h3{
    padding: 23px 30px 0 0;
  }
  .cardReport .titleBg .rightButtons{
    margin-top: 0;
    width: 100%;
  }
  .cardReport .titleBg .rightButtons button{
    padding: 4px 0 0;
  }
  .cardReport .titleBg .rightButtons button:first-child{
    margin-right: 10px;
  }
}

//////////////// small media query start here /////////////////////////
@media (min-width: 768px) and (max-width: 991px){
  .tableParent{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
}
//////////////// small media query end here ///////////////////////////