.table{
  padding-top: 20px;
  thead{
    tr{
      th{
        font-size: 2rem;
        color: #333;
        border-right: solid 0.2rem rgba(0, 0, 0, 0.12);
        padding: 0.2rem 3.5rem 0 3.5rem;
        &:first-child{
          font-size: 0;
          padding: 0 2rem;
          width: 80px;
        }
        &:nth-child(2){
          width: 190px;
        }
        &:nth-child(3){
          border-right: 0;
        }
        &:nth-child(4){
          text-align: right;
        }
        &:last-child{
          font-size: 0;
          padding: 0 2rem;
          width: 80px;
          border-right: 0;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        font-size: 2rem;
        text-transform: capitalize;
        color: #333333;
        border-bottom: solid 0.2rem rgba(0, 0, 0, 0.12);
        border-right: solid 0.2rem rgba(0, 0, 0, 0.12);
        padding: 0.7rem 3.5rem 0 3.5rem;
        &:first-child{
          text-align: center;
          padding: 10px 2rem 0;
          width: 80px;
        }
        &:nth-child(2){
          width: 190px;
        }
        &:nth-child(3){
          border-right: 0;
        }
        &:nth-child(4){
          text-align: right;
        }
        &:last-child{
          text-align: center;
          padding: 10px 2rem 0;
          width: 80px;
          border-right: 0;
        }
      }
      &:last-child{
        td{
          border-right: solid 0.2rem rgba(0, 0, 0, 0.12);
        }
      }
      &:last-child{
        td{
          &:last-child{
            border-right: 0;
          }
          &:nth-child(3){
            border-right: 0;
          }
        }
      }
    }
  }
}
.cardReport{
  .titleBg{
    padding: 0 50px 0 50px;
    background: #008142;
    h3{
      color: #fff;
      letter-spacing: 0.1rem;
      font-size: 2.5rem;
      display: inline-block;
      padding: 23px 30px 17px 0;
    }
    .rightButtons{
      float: right;
      margin-top: 20px;
      button{
        font-size: 20px;
        padding: 4px 10px 0 10px;
        line-height: 40px;
        height: 40px;
        color: white;
        &:first-child{
          margin-right: 20px;
        }
      }
    }
  }
}

body[dir="rtl"] .rightButtons {
  float: left !important;
}