@import "~react-toolbox/lib/list/config.css";

.dialog {
  width: calc(var(--unit) * 52.5);
  border-radius: 0;
  .body{
    > div{
      > div{}
      h4{
        font-size: calc(var(--font-size-big) + 7);
        text-transform: uppercase;
        letter-spacing: calc(var(--unit) - 9);
        color: $color-primary;
        margin: 0 0 calc(var(--unit) * 2) 0;
      }
    }
  }
}
