@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.card {
  min-height: $unit * 15;
  .table {
    padding: $unit $unit * 2;
    thead{
      tr{
        th{
          font-size: $unit * 2;
          color: #333;
          border-right: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
          &:first-child{
            padding: 0 $unit * 2;
            font-size: 0;
          }
          &:last-child{
            border-right: 0;
            font-size: 0;
            padding: 0 $unit * 4;
            border-left: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
          }
          &:nth-child(2){
            padding: 0 $unit * 3;
          }
          &:nth-child(3){
            padding: 0 $unit * 3.5;
            border-right: 0;
          }
          &:nth-child(4){
            padding: 0 $unit * 3;
            text-align: right;
            border-right: 0;
          }
        }
      }
    }
    tr {
      td {
        font-size: $font-size-big + 0.2;
        text-transform: capitalize;
        color: $color-text;
        border-bottom: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        padding: $unit - 0.8 $unit * 2 0 $unit * 3.5;
        i {
          position: relative;
          top: $unit - 0.8;
        }
        &:first-child {
          padding: $unit - 0.7 $unit * 2 0 $unit * 2;
          text-align: center;
          width: $unit * 8;
          line-height: 0;
          border-right: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        }
        &:nth-child(2) {
          width: $unit * 18.5;
          padding: $unit - 0.6 0 0 $unit * 3;
          border-right: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        }
        &:nth-child(4) {
          text-align: right;
          padding: $unit - 0.8 $unit * 3 0 $unit * 3;
        }
        &:last-of-type {
          text-align: center;
          width: $unit * 4;
          padding: $unit - 0.6 $unit 0 $unit;
          border-left: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        }
      }
      &:last-of-type{
        td{
          border-bottom: 0;
        }
      }
    }
  }
}