@import "~react-toolbox/lib/list/config.css";

.value {
  > div {
    i{
      font-size: calc(var(--unit) * 4);
    }
  }
}
.boxShadowNone{
  textarea{
    box-shadow: 0 0 0 0;
  }
}
.field{
  padding: calc(var(--unit) * 2) 0 0;
}
.iconsBox{
  display: inline-block;
  width: 100%;
  i{
    margin-right: var(--unit);
  }
}
.values{
  padding: calc(var(--unit) * 1.3) var(--unit) calc(var(--unit) - 5) var(--unit);
  position: static;
  li{
    width: 33.3%;
    display: inline-block;
    padding: 0;
    margin-top: -4px;
    div{
      text-align: center;
      border-bottom: calc(var(--unit) - 8) solid #d3d3d3;
      border-right: calc(var(--unit) - 8) solid #d3d3d3;
      padding: calc(var(--unit) * 1.5) 0 calc(var(--unit) * 1.5) 0;
      i{
        font-size: calc(var(--unit) * 5);
      }
      &.removeBottomBorder{
        border-bottom: 0;
      }
      &.removeRightBorder{
        border-right: 0;
      }
    }
    &:last-child{
      div{
        border-right: 0;
      }
    }
  }
}
.addExpensesBtn{
  text-align: center;
}
