@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.iconsBox{
  display: inline-block;
  width: 100%;
  i{
    margin-right: $unit;
  }
}
.iconBox{
  i{
    font-size: $unit * 3;
  }
}
strong{
  margin-left: $unit * 3;
}

