@import "~react-toolbox/lib/list/config.css";

.table{
  padding: var(--unit) calc(var(--unit) * 2.5) var(--unit);
  td{
    border-bottom: calc(var(--unit) - 8) solid #f1f1f1;
    padding: calc(var(--unit) - 3) calc(var(--unit) * 15) 0 calc(var(--unit) * 15);
    font-size: calc(var(--font-size-small) + 6);
    color: $color-text;
    text-transform: capitalize;
  }
  .row {
    line-height: 0;
    height: 0;
    &:hover{
      background: none;
    }
    td{
      &:first-child{
        width: calc(var(--unit) * 55);
        line-height: var(--unit);
        border-right: calc(var(--unit) - 8) solid #eeeeee;
        padding: calc(var(--unit) - 3) calc(var(--unit) * 15);
        height: calc(var(--unit) * 48);
        svg{
          -webkit-transform: rotate(90deg);
        }
        i{
          font-size: calc(var(--font-size) * 2);
        }
      }
      &:nth-child(3){
        text-align: right;
        i{
          font-size: calc(var(--font-size));
          position: relative;
          top: calc(var(--unit) - 9);
          left: calc(var(--unit) - 5);
        }
      }
      &:last-of-type{
        text-align: right;
        width: calc(var(--unit) * 45);
        padding: 0 calc(var(--unit) * 15);
      }
    }
    &:last-child {
      td {
        border-color: transparent;
        &:first-child{
          border-right: calc(var(--unit) - 8) solid #eeeeee;
        }
      }
    }
  }
}