@import "~react-toolbox/lib/list/config.css";

.dashboardTable{
  width: 100%;
  float: left;
}
.recentIncomeWrapper{
  width: 49%;
  float: left;
  margin-right: calc(var(--unit) * 1.5);
  .card{
    border-radius: 0;
    margin-bottom: calc(var(--unit) * 2);
    min-height: calc(var(--unit) * 34);
    h3{
      background: $color-primary;
      padding: calc(var(--unit) * 2.2) 0 calc(var(--unit) * 1.8) calc(var(--unit) * 5);
      color: $color-primary-dark;
      letter-spacing: calc(var(--unit) - 9);
      font-size: calc(var(--font-size-small) * 1.8);
    }
  }
}
.recentExpensesWrapper{
  width: 49.5%;
  float: left;
  .card{
    border-radius: 0;
    margin-bottom: calc(var(--unit) * 2);
    min-height: calc(var(--unit) * 34);
    h3{
      background: $color-accent;
      padding: calc(var(--unit) * 2.2) 0 calc(var(--unit) * 1.8) calc(var(--unit) * 5);
      color: $color-primary-dark;
      letter-spacing: calc(var(--unit) - 9);
      font-size: calc(var(--font-size-small) * 1.8);
    }
  }
}
.tableLink{
  text-align: right;
  margin-right: calc(var(--unit) * 5);
  a{
    color: $color-text;
    font-size: var(--font-size);
    text-transform: uppercase;
    font-family: $preferred-font;
  }
}
.errorShowIncomes{
  text-align: center;
  margin-top: calc(var(--unit) * 5);
  button{
    width: calc(var(--unit) * 7.5);
    min-width: calc(var(--unit) * 7.5);
    height: calc(var(--unit) * 7.5);
    border-radius: 50%;
    font-size: calc(var(--font-size-small) * 3.3);
    padding: 0 calc(var(--unit) * 1.2) 0 calc(var(--unit) * 1.1);
    margin-bottom: calc(var(--unit) * 2.5);
    span{
      margin: 0;
    }
  }
  p{
    font-size: calc(var(--font-size-big) + 2);
    text-transform: uppercase;
    color: $color-text;
    letter-spacing: calc(var(--unit) - 9);
  }
}
.errorShowExpenses{
  text-align: center;
  margin-top: calc(var(--unit) * 5);
  button{
    width: calc(var(--unit) * 7.5);
    min-width: calc(var(--unit) * 7.5);
    height: calc(var(--unit) * 7.5);
    border-radius: 50%;
    font-size: calc(var(--unit) * 4.5);
    padding: 0 calc(var(--unit) * 1.2) 0 calc(var(--unit) * 1.1);
    margin-bottom: calc(var(--unit) * 2.5);
    span{
      margin: 0;
    }
  }
  p{
    font-size: calc(var(--font-size-big) + 2);
    text-transform: uppercase;
    color: $color-text;
    letter-spacing: calc(var(--unit) - 9);
  }
}