@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.dashboardTable{
  width: 100%;
  float: left;
}
.recentIncomeWrapper{
  width: 50%;
  float: left;
  margin-right: $unit * 1.5;
  .card{
    border-radius: 0;
    margin-bottom: $unit * 2;
    min-height: $unit * 34;
    h3{
      background: $color-primary;
      padding: $unit * 2.2 0 $unit * 1.8 $unit * 5;
      color: $color-primary-dark;
      letter-spacing: $unit - 0.9;
      font-size: $font-size-small * 1.8;
    }
  }
}
.recentExpensesWrapper{
  width: 50%;
  float: left;
  .card{
    border-radius: 0;
    margin-bottom: $unit * 2;
    min-height: $unit * 34;
    h3{
      background: $color-accent;
      padding: $unit * 2.2 0 $unit * 1.8 $unit * 5;
      color: $color-primary-dark;
      letter-spacing: $unit - 0.9;
      font-size: $font-size-small * 1.8;
    }
  }
}
.tableLink{
  text-align: right;
  margin-right: $unit * 5;
  a{
    color: $color-text;
    font-size: $font-size;
    text-transform: uppercase;
    font-family: $preferred-font;
  }
}
.errorShowIncomes{
  text-align: center;
  margin-top: $unit * 5;
  button{
    width: $unit * 7.5;
    min-width: $unit * 7.5;
    height: $unit * 7.5;
    border-radius: 50%;
    font-size: $font-size-small * 3.3;
    padding: 0 $unit * 1.2 0 $unit * 1.1;
    margin-bottom: $unit * 2.5;
    span{
      margin: 0;
    }
  }
  p{
    font-size: $font-size-big + 0.2;
    text-transform: uppercase;
    color: $color-text;
    letter-spacing: $unit - 0.9;
  }
}
.errorShowExpenses{
  text-align: center;
  margin-top: $unit * 5;
  button{
    width: $unit * 7.5;
    min-width: $unit * 7.5;
    height: $unit * 7.5;
    border-radius: 50%;
    font-size: $unit * 4.5;
    padding: 0 $unit * 1.2 0 $unit * 1.1;
    margin-bottom: $unit * 2.5;
    span{
      margin: 0;
    }
  }
  p{
    font-size: $font-size-big + 0.2;
    text-transform: uppercase;
    color: $color-text;
    letter-spacing: $unit - 0.9;
  }
}