@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/button/config";

.appBody{
  background: url("../assets/images/login-bg.png") no-repeat center;
  background-size: 80%;
  flex: 1;
  display: block;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  height: 85vh;
  min-height: 85vh;
  .cardLogin{
    margin: 70px auto 40px !important;
  }
}

.headerGreeting{
  margin-left: auto;
  span{
    color: $color-primary;
    position: relative;
    top: -15px;
    span{
      top: 0;
      margin: 0 0 0 10px;
    }
    img{
      border-radius: 50%;
      position: relative;
      top: $unit + 0.7;
      left: $unit - 0.2;
      margin-right: $unit * 2;
    }
    i{
      float: right;
      margin-top: $unit + 0.4;
      color: $color-text-light;
      cursor: pointer;
    }
  }
}

/////////////////////////////////////////////////
//////////// rtl styling start here /////////////
/////////////////////////////////////////////////
body[dir="rtl"] .headerGreeting {
  position: absolute;
  left: $unit * 2;
}
body[dir="rtl"] .headerGreeting span i {
  float: left;
}
/////////////////////////////////////////////////
//////////// rtl styling end here ///////////////
/////////////////////////////////////////////////

////////////////// extra small media query start here /////////////////////
@media (min-width: 320px) and (max-width: 767px){
  .appBody .cardLogin{
    margin: 30px auto 50px !important;
  }
}
////////////////// extra small media query end here ///////////////////////

////////////////// small media query start here ///////////////////////////
@media (min-width: 768px) and (max-width: 991px){
  .appBody .cardLogin{
    margin: 60px auto 20px !important;
  }
}
////////////////// small media query end here /////////////////////////////

////////////////// medium media query start here //////////////////////////
@media (min-width: 992px) and (max-width: 1199px){
  .appBody .cardLogin{
    margin: 60px auto 30px !important;
  }
}
////////////////// medium media query end here ////////////////////////////