@import "~react-toolbox/components/button/config.css";

.appBody{
  background: url("../assets/images/login-bg.png") no-repeat center;
  background-size: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  height: 80vh;
  min-height: 80vh;
}

.headerGreeting{
  margin-left: auto;
  span{
    color: $color-primary;
    position: relative;
    top: -15px;
    img{
      border-radius: 50%;
      position: relative;
      top: calc(0.7 + var(--unit));
      left: calc( 0.2 - var(--unit));
      margin-right: calc( 2 * var(--unit));
    }
    i{
      float: right;
      margin-top: calc( 0.4 + var(--unit));
      color: $color-text-light;
      cursor: pointer;
    }
  }
}