@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/button/config";

.dialogContent{
  > div{
    margin-bottom: $unit * 2;
    h3{
      color: $color-primary;
      font-size: $font-size-big + 0.7;
      text-transform: uppercase;
      letter-spacing: $unit - 0.9;
      word-spacing: $unit - 0.5;
      margin: 0 0 $unit * 1.2 0;
      text-align: center;
    }
    p{
      line-height: $unit * 2;
      color: $color-text;
      font-size: $font-size-big;
      letter-spacing: $unit - 0.9;
      text-align: center;
    }
  }
  .buttonBox{
    text-align: center;
    margin: 0;
    button{
      padding: $unit - 0.8 $unit * 5.9 0;
      height: $unit * 4.6;
      border-radius: $unit - 0.5;
      &:last-of-type{
        line-height: $unit * 3.6;
        padding: 0 $unit * 3.8 0;
        margin-left: $unit - 0.2;
        top: -1px;
        span{
          color: white;
          font-size: $font-size + 0.1;
        }
      }
    }
  }
}

/////////////////////////////////////////////////
//////////// rtl styling start here /////////////
/////////////////////////////////////////////////
body[dir="rtl"] .dialogContent h3 {
  width: 100%;
}
body[dir="rtl"] .dialogContent p {
  margin: 15px 0 0 0;
  display: inline-block;
  width: 100%;
}
body[dir="rtl"] .dialogContent .buttonBox button:last-of-type {
  margin: 0 10px 0 0;
}
/////////////////////////////////////////////////
//////////// rtl styling end here ///////////////
/////////////////////////////////////////////////

////////////// extra small media query start here /////////////////
@media (min-width: 320px) and (max-width: 767px){
  .dialogContent .buttonBox button{
    padding: $unit - 0.8 $unit * 2.4 0;
  }
  .dialogContent .buttonBox button:last-of-type{
    padding: 0 $unit * 2.3 0;
  }
}
////////////// extra small media query end here ///////////////////