@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.dialog {
  width: $unit * 52.5;
  .body{
    > div{
      > div{}
      h4{
        font-size: $font-size-big + 0.7;
        text-transform: uppercase;
        letter-spacing: $unit - 0.9;
        color: $color-primary;
        margin: 0 0 $unit * 2 0;
      }
    }
  }
}