@import "~react-toolbox/lib/list/config.css";

.dialog {
  width: calc(52.5 * var(--unit));
  border-radius: 0;
  overflow: auto;
  .body{
    > div{
      > div{}
      h4{
        font-size: calc(0.7 + var(--font-size-big));
        text-transform: uppercase;
        letter-spacing: calc(0.9 - var(--unit));
        color: $color-primary;
        margin: 0 0 calc(2 * var(--unit)) 0;
      }
    }
  }
}