@import "~react-toolbox/lib/list/config.css";

.card{
  min-height: calc(var(--unit) * 15);
  .table{
    padding: var(--unit) calc(var(--unit) * 2);
    tbody{
      tr{
        td{
          font-size: calc(var(--font-size-big) + 2);
          text-transform: capitalize;
          color: $color-text;
          border-bottom: solid calc(var(--unit) - 8) rgba(0, 0, 0, 0.12);
          border-right: solid calc(var(--unit) - 8) rgba(0, 0, 0, 0.12);
          padding: 0 calc(var(--unit) * 2) 0 calc(var(--unit) * 4);
          i{
            position: relative;
            top: calc(var(--unit) - 8);
          }
          &:first-child{
            padding: 0 calc(var(--unit) * 3);
          }
          &:last-of-type{
            border-right: none;
          }
        }
        &:last-of-type{
          td{
            border-bottom-color: transparent;
            border-right: solid calc(var(--unit) - 8) rgba(0, 0, 0, 0.12);
            &:last-of-type{
              border-right: none;
            }
          }
        }
      }
    }
  }
}