@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.table{
  padding: $unit $unit * 2;
  tbody{
    tr{
      td{
        font-size: $font-size-big + 0.2;
        text-transform: capitalize;
        color: $color-text;
        border-bottom: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        border-right: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        padding: 0 $unit * 2 0 $unit * 4;
        &:first-child{
          padding: 0 $unit * 3;
        }
        &:last-of-type{
          border-right: none;
        }
      }
      &:last-of-type{
        td{
          border-bottom-color: transparent;
          border-right: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
          &:last-of-type{
            border-right: none;
          }
        }
      }
    }
  }
}