@import "~react-toolbox/lib/list/config.css";

.card{
  min-height: calc(15 * var(--unit));
  .table{
    padding: var(--unit) calc(2 * var(--unit));
    tbody{
      tr{
        td{
          font-size: calc(0.2 + var(--font-size-big));
          text-transform: capitalize;
          color: $color-text;
          border-bottom: solid calc(0.8 - var(--unit)) rgba(0, 0, 0, 0.12);
          border-right: solid calc(0.8 - var(--unit)) rgba(0, 0, 0, 0.12);
          padding: 0 calc(2 * var(--unit)) 0 calc(4 * var(--unit));
          i{
            position: relative;
            top: calc(0.8 - var(--unit));
          }
          &:first-child{
            padding: 0 calc(3 * var(--unit));
          }
          &:last-of-type{
            border-right: none;
          }
        }
        &:last-of-type{
          td{
            border-bottom-color: transparent;
            border-right: solid calc(0.8 - var(--unit)) rgba(0, 0, 0, 0.12);
            &:last-of-type{
              border-right: none;
            }
          }
        }
      }
    }
  }
}