@import "~react-toolbox/lib/button/config.css";

.inputField{
  width: 25%;
  display: inline-block;
  margin: 0 calc(3.5 * var(--unit)) calc(2 * var(--unit)) 0;
  > div{
    input{
      border-bottom: calc(0.8 - var(--unit)) solid rgba(0, 0, 0, 0.12);
    }
    label{
      color: $color-text;
      font-size: calc(0.1 + var(--font-size-small));
    }
  }
}
.inputDropdown{
  width: 25%;
  display: inline-block;
  margin-bottom: calc(2 * var(--unit));
  > div{
    > div{
      input{
        border-bottom: calc(0.8 - var(--unit)) solid rgba(0, 0, 0, 0.12);
      }
      label{
        color: $color-text;
        font-size: calc(0.1 + var(--font-size-small));
      }
    }
  }
  button{
    float: right;
    margin-top: - calc(5.5 * var(--unit));
  }
}
.pageTitle{
  background: $color-primary;
  padding: calc(2.7 * var(--unit)) calc(4 * var(--unit)) calc(2.3 * var(--unit)) calc(5 * var(--unit));
  h3{
    font-size: calc(0.7 + var(--font-size-big));
    color: $color-primary-dark;
    letter-spacing: calc(0.9 - var(--unit));
    display: inline-block;
    line-height: calc(3 * var(--unit));
  }
  .button{
    float: right;
    font-size: calc(0.2 + var(--font-size-big));
    span{
      line-height: calc(3.2 * var(--unit));
    }
    &:hover{
      background: none;
    }
  }
}

.neutral:not([disabled]) {
  &.flat, &.toggle {
    color: $color-primary-dark;
  }
  &.flat:hover {
    background: none;
  }
}
.projectNothing{
  margin: calc(5 * var(--unit)) 0 calc(5 * var(--unit)) 0;
  .errorShow{
    display: block;
    text-align: center;
    font-size: calc(0.2 + var(--font-size-big));
    text-transform: uppercase;
    color: $color-text;
    &:first-child{
      margin-bottom: calc(3 * var(--unit));
    }
  }
  .addProjectBtn{
    text-align: center;
    button{
      border-radius: 50%;
      width: calc(7.5 * var(--unit));
      height: calc(7.5 * var(--unit));
      padding: 0;
      min-width: calc(7.5 * var(--unit));
      text-align: center;
      margin-bottom: calc(2.5 * var(--unit));
      font-size: calc(2.7 + var(--font-size-big));
      span{
        color: $color-primary-dark;
        text-transform: lowercase;
        padding-left: calc(0.1 - var(--unit));
      }
    }
  }
}
.loaderParent{
  margin: calc(2 * var(--unit)) 0 calc(3 * var(--unit)) 0;
}

/////////////////////////// dialog styling start here ///////////////////////////////
.contentParent{
  .contentOne{
    margin-bottom: calc(2 * var(--unit));
    > div{
      span{
        font-size: $font-size;
        color: $color-text;
        line-height: calc(2.2 * var(--unit));
      }
    }
  }
  .contentTwo{
    margin-bottom: calc(var(--unit) * 3);
    > div{
      p{
        display: inline-block;
        line-height: $unit * 2.6;
        color: $color-text;
        font-size: calc(0.2 + var(--font-size-big));
        text-transform: capitalize;
        letter-spacing: $unit - 0.9;
        span{
          color: $color-primary;
          font-weight: 600;
          font-size: $font-size-big;
          text-transform: capitalize;
          letter-spacing: $unit - 0.9;
        }
      }
    }
  }
}
.buttonBox{
  text-align: center;
  button{
    background: $color-accent;
    font-size: $font-size;
    padding: $unit - 0.8 $unit * 2 0 $unit * 2;
    height: $unit * 3.6;
    word-spacing: $unit - 0.6;
    &:first-child{
      margin-right: $unit * 2;
    }
  }
}
.title{
  color: $color-primary;
  font-size: calc(0.7 + var(--font-size-big));
  text-transform: uppercase;
  letter-spacing: $unit - 0.9;
}
.confirmText{
  margin-bottom: $unit * 2;
  h3{
    font-size: calc(0.7 + var(--font-size-big));
    text-transform: uppercase;
    letter-spacing: $unit - 0.9;
    color: $color-primary;
    margin: 0 0 $unit * 2 0;
  }
  p{
    line-height: $unit * 2.6;
    color: $color-text;
    font-size: $font-size-big;
    letter-spacing: $unit - 0.9;
    text-align: center;
  }
}
.buttonDialog{
  text-align: center;
  button{
    font-size: $font-size + 0.1;
    letter-spacing: $unit - 0.9;
    height: $unit * 4.6;
    padding: $unit - 0.6 $unit * 5.9 0;
    border-radius: $unit - 0.5;
    &:last-of-type{
      padding: $unit - 0.6 $unit * 3.8 0;
      margin-left: $unit * 1.8;
    }
  }
}
.createProjectForm{
  label{
    color: $color-text;
  }
}
.addBtn{
  text-align: center;
  button{
    font-size: $font-size + 0.1;
    letter-spacing: $unit - 0.9;
    height: $unit * 4.6;
    padding: $unit - 0.6 $unit * 4.3 0;
  }
}
.buttonArea{
  text-align: center;
  button{
    background: $color-accent;
    font-size: $font-size;
    padding: $unit - 0.8 $unit * 4.5 0;
    height: $unit * 4.6;
    word-spacing: $unit - 0.6;
    &:first-child{
      margin-right: $unit * 1.8;
      padding: $unit - 0.8 $unit * 6.3 0;
    }
  }
}