@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.iconsBox{
  display: inline-block;
  width: 100%;
  i{
    margin-right: $unit;
  }
}
.iconsiconBox{
  i{
    font-size: $unit * 4;
  }
}
.addIncomeBtn{
  text-align: center;
}


