@import "~react-toolbox/lib/button/config.css";

.neutral:not([disabled]) {
  &.flat, &.toggle {
    color: $color-primary-dark;
    font-size: calc(var(--font-size-big) + 2);
  }
}

.neutral:not([disabled]) {
  &.raised, &.floating {
    background-color: $color-primary-dark;
    box-shadow: 0 0 0 0;
    border-radius: 0;
  }
}
