@import "~react-toolbox/lib/button/config.css";

.values{
  padding: 0 calc(var(--unit) - 3) 0;
  position: static;
  margin-bottom: var(--unit);
  li{
    width: 20%;
    float: left;
    padding: 0;
    div{
      width: 100%;
      text-align: center;
      height: calc(var(--unit) * 7);
      padding-top: calc(var(--unit) * 1.2);
      border-bottom: calc(var(--unit) - 8) solid #d3d3d3;
      border-right: calc(var(--unit) - 8) solid #d3d3d3;
      i{
        font-size: calc(var(--font-size) + 3.2);
      }
      &.removeBottomBorder{
        border-bottom: 0;
      }
      &.removeRightBorder{
        border-right: 0;
      }
    }
    &:last-child{
      div{
        border-right: 0;
      }
    }
    &:hover{
      color: black;
    }
  }
  .selected{
    color: black;
  }
}
.dropdown{
  .field{
    .value{
      > div{
        i{
          font-size: calc(var(--font-size-big) + 7);
        }
      }
    }
  }
}
