@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/button/config";

.card{
  table{
    padding: $unit * 2 $unit * 2.5;
    tr{
      &:hover{
        background: none;
      }
      td{
        border-bottom: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        img{
          width: $unit * 7;
          height: $unit * 7;
        }
        > div{
          line-height: $unit * 3.4;
          margin: $unit * 1.8 0 $unit 0;
          > div{
            line-height: $unit * 2;
            margin: $unit * 2.5 0 $unit $unit - 0.2;
            strong{
              font-size: $font-size-big + 0.2;
              color: $color-text;
              font-family: $preferred-font;
              letter-spacing: $unit - 0.9;
              text-transform: capitalize;
              cursor: pointer;
            }
          }
          span{
            a{
              font-size: $font-size-big;
              color: $color-text;
              letter-spacing: $unit - 0.9;
              line-height: $font-size;
              padding: $unit - 0.8 $unit - 0.2;
              margin-right: $unit * 1.5;
              background: $color-primary-dark;
              box-shadow: 0 $unit - 0.8 $unit - 0.8 0 #b9b9b9;
              display: inline-block;
              text-transform: capitalize;
              a{
                border: 0;
                padding: 0 0 0 $unit * 1.5;
                text-transform: lowercase;
                box-shadow: 0 0 0 0;
                margin-right: 0;
              }
            }
            &:last-of-type{
              a{
                &:last-of-type{
                  border-right: 0;
                }
              }
            }
          }
        }
        &:first-child{
          width: $unit * 14;
          padding: $unit * 1.5 $unit * 4 $unit * 1.5 $unit * 3;
          line-height: 0;
          border-right: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        }
        &:nth-child(2){
          padding: 0 0 0 $unit * 3.2;
          width: $unit * 90;
        }
        &:last-of-type{
          text-align: right;
        }
      }
    }
  }
}