@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/button/config";

.card{
  min-height: $unit * 15;
  table{
    padding: $unit * 2 $unit * 2.5;
    tr{
      &:hover{
        background: none;
      }
      td{
        border-bottom: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
        img{
          width: $unit * 7;
          height: $unit * 7;
        }
        > div{
          line-height: $unit * 3.4;
          margin: $unit * 1.8 0 $unit 0;
          > div{
            line-height: $unit * 2;
            margin: $unit * 2.5 0 $unit $unit - 0.2;
            strong{
              font-size: $font-size-big + 0.2;
              color: $color-text;
              font-family: $preferred-font;
              letter-spacing: $unit - 0.9;
              text-transform: capitalize;
              cursor: pointer;
            }
          }
          span{
            div{
              font-size: $font-size-big;
              color: $color-text;
              letter-spacing: $unit - 0.9;
              line-height: $font-size;
              padding: $unit - 0.8 $unit - 0.2;
              margin-right: $unit * 1.5;
              background: $color-primary-dark;
              box-shadow: 0 $unit - 0.8 $unit - 0.8 0 #b9b9b9;
              display: inline-block;
              text-transform: capitalize;
              cursor: pointer;
              a{
                border: 0;
                padding: 0 0 0 $unit * 1.5;
                text-transform: lowercase;
                box-shadow: 0 0 0 0;
                margin-right: 0;
              }
            }
            &:last-of-type{
              a{
                &:last-of-type{
                  border-right: 0;
                }
              }
            }
          }
        }
        &:first-child{
          width: $unit * 14;
          padding: $unit * 1.5 $unit * 4 $unit * 1.5 $unit * 3;
          line-height: 0;
          border-right: solid $unit - 0.8 rgba(0, 0, 0, 0.12);
          text-align: center;
          i{
            font-size: $font-size-big * 3;
            color: $color-text;
          }
        }
        &:nth-child(2){
          padding: 0 $unit * 3.2 0 $unit * 3.2;
          width: $unit * 120;
        }
        &:last-of-type{
          text-align: right;
        }
      }
    }
  }
}

/////////////////////////////////////////////////
//////////// rtl styling start here /////////////
/////////////////////////////////////////////////
body[dir="rtl"] td div span div {
  padding: 0.2rem 0.8rem 0.8rem !important;
  margin-right: 0 !important;
  margin-left: 15px;
}
/////////////////////////////////////////////////
//////////// rtl styling end here ///////////////
/////////////////////////////////////////////////

/////////// extra small media query start here ///////////////
@media (min-width: 320px) and (max-width: 767px){
  .card table{
    padding: 1.5rem 1.5rem;
  }
  .card table tr{
    position: relative;
  }
  .card table tr td:last-of-type{
    position: absolute;
    right: 20px;
    width: auto !important;
  }
  .card table tr td:last-of-type div{
    margin: 23px 0 1rem 0;
  }
  .card table tr td div span div{
    margin-right: 1rem;
  }
  .card table tr td{
    padding: 0 !important;
    width: 100% !important;
    float: left;
    border-bottom: 0 !important;
    border-right: 0 !important;
    text-align: left !important;
  }
  .card table tr td:first-of-type i{
    font-size: 5rem;
  }
  .card table tr td:nth-of-type(2){
    padding: 0 1.5rem 0 1.5rem;
  }
  .card table tr td:nth-of-type(2){
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    padding: 0 0 10px 0 !important;
  }
  .card table tr:last-of-type td:nth-of-type(2){
    border-bottom: 0 !important;
    padding: 0 !important;
  }
  .card table tr td:first-of-type{
    padding: 20px 0 0 0 !important;
  }
  .card table tr td div div strong{
    font-size: 20px;
  }
}
/////////// extra small media query end here /////////////////