@import "~react-toolbox/lib/button/config.css";

.check {
  &.checked {
    background-color: $color-primary-dark;
    border-color: $color-text;
    &:after {
      border-color: $color-text;
      margin: calc(var(--unit) - 5) 0 0 calc(var(--unit) - 6);
    }
  }
}