.reports{
  width: 100%;
  padding: 30px 30px 0;
  overflow: auto;
  div{
    div{
      label{
        color: #333333;
      }
    }
  }
}

.paginationList{
  //margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  ul{
    text-align: center;
    margin: 40px 0 20px 0;
    cursor: auto;
    li{
      display: inline-block;
      margin-left: 15px;
      font-size: 22px;
      color: #333;
      a{
        cursor: pointer;
      }
    }
  }
}

////////////////////// new income styling /////////////////////////////
.incomeCard{
  margin: 30px auto 0;
  width: 96%;
  display: inline-table;
  padding-bottom: 20px;
  h3{
    background: #008142;
    color: #fff;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    display: block;
    text-transform: capitalize;
    padding: 23px 30px 17px 30px;
  }
  .incomeForm{
    padding: 30px;
    div{
      ul{
        position: absolute;
        li{
          width: 20%;
        }
      }
      label{
        color: #333333;
      }
      div{
        label{
          color: #333333;
        }
      }
    }
    .clientHeading{
      color: #008142;
      letter-spacing: 0.5px;
      margin: 15px 0 10px 0;
      text-transform: capitalize;
    }
    .projectCustomField{
      width: 50%;
      display: inline-block;
      ul{
        li{
          width: 100%;
        }
      }
    }
    .inputCustomField{
      width: 23%;
      display: inline-block;
      margin-right: 12px;
      ul{
        li{
          width: 100%;
        }
      }
    }
    .closeBtnParent{
      width: 50%;
      float: right;
      button{
        float: left;
        box-shadow: 0 0 0 0;
        padding: 0 0 0 0;
        margin: 24px 0 0 15px;
        min-width: 4rem;
        color: #c71111;
        font-size: 24px;
        span{
          margin: 0;
        }
      }
    }
    .btnParents{
      width: 100%;
      float: left;
      margin-bottom: 30px;
      button{
        background: none;
        box-shadow: 0 0 0 0;
        color: #008142;
        float: left;
        padding: 0;
        word-spacing: 3px;
        text-transform: capitalize;
        font-size: 16px;
        letter-spacing: 0.5px;
        margin: 0;
      }
    }
  }
  button{
    margin: 40px auto 0;
    display: block;
    padding: 2px 40px 0;
  }
}
.projectStatus{
  ul{
    li{
      width: 100% !important;
    }
  }
}

////////////////////// new income styling /////////////////////////////

:global {
  .active{
    color: $color-primary !important;
  }
}

.viewExpense{
  padding: 30px;
  width: 100%;
  display: inline-table;
  .titleBox{
    padding: 0 50px 0 50px;
    background: #008142;
    h3{
      color: #fff;
      letter-spacing: 1px;
      font-size: 2.5rem;
      display: inline-block;
      text-transform: uppercase;
      padding: 23px 30px 17px 0;
    }
    .rightButtons{
      float: right;
      margin-top: 20px;
      button{
        font-size: 25px;
        padding: 4px 10px 0 10px;
        letter-spacing: 1px;
        line-height: 40px;
        height: 40px;
        color: white;
        &:first-child{
          margin-right: 20px;
        }
      }
    }
  }
  .bankContent{
    box-shadow: 0 0 5px 1px #e0e0e0;
    padding: 0 25px;
    .depositContent{
      padding: 45px 25px 40px;
      border-bottom: 1px solid #e0e0e0;
      h6{
        font-size: 16px;
        font-weight: normal;
        display: inline-block;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin: 0 0 40px 0;
        &:last-of-type{
          margin-left: 50px;
        }
      }
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin-bottom: 30px;
        .price{
          color: #008142;
          font-family: "Nexa Bold Regular", "Arial", sans-serif;
        }
      }
    }
    .accountContent{
      padding: 45px 25px 40px;
      border-bottom: 1px solid #e0e0e0;
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin-bottom: 30px;
        &:last-of-type{
          margin-bottom: 10px;
        }
      }
    }
    .projectContent{
      padding: 45px 25px 40px;
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin-bottom: 30px;
        span{
          color: #008142;
          font-family: "Nexa Bold Regular", "Arial", sans-serif;
        }
        &:last-of-type{
          margin-bottom: 10px;
        }
      }
    }
  }
}

////////// extra small media query start here ////////////////
@media (min-width: 320px) and (max-width: 767px){
  .incomeCard{
    margin: 15px auto 0;
    padding-bottom: 15px;
  }
  .incomeCard .incomeForm{
    padding: 15px;
  }
  body[dir="rtl"] .incomeCard .incomeForm {
    padding: 10px;
  }
  .incomeCard .incomeForm button{
    margin: 10px auto 0;
  }
}
////////// extra small media query end here //////////////////