@import "~react-toolbox/lib/list/config.css";

.card{
  border-radius: 0;
  margin-top: calc(var(--unit) * 1.5 );
  .graphHeader{
    background: $color-primary;
    padding: 0 calc(var(--unit) * 3) 0 calc(var(--unit) * 5);
    h3{
      padding: calc(var(--unit) * 2.2) 0 calc(var(--unit) * 1.8) 0;
      color: $color-primary-dark;
      letter-spacing: calc(var(--unit) - 9);
      font-size: calc(var(--font-size-small) * 1.8);
      width: 85%;
      float: left;
    }
    .dashboardDropdown{
      width: 15%;
      float: right;
      strong{
        color: $color-primary-dark;
      }
      ul{
        li{
          strong{
            color: $color-text;
          }
        }
      }
    }
  }
}
.areaChart{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: var(--unit);
  width: 100%;
  height: calc(var(--unit) * 40);
  background-color: $color-primary-dark;
  font-size: calc(var(--font-size-small) + 6);
  text-transform: uppercase;
}

.customized-tooltip-content{
  border: 1px solid lightgray;
  background: white;
  padding: 20px;
}

.customized-tooltip-content p, .customized-tooltip-content li{
  padding: 3px 0 3px 0;
  border: none;
}