@import "~react-toolbox/lib/list/config.css";

.appFooter{
  text-align: center;
  padding: calc(var(--unit) - 5) 0 calc(var(--unit) - 7) 0;
  background: $color-primary;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  span{
    margin: calc(var(--unit) - 5) 0 calc(var(--unit) - 5) 0;
    color: $color-primary-dark;
    font-size: var(--font-size-small);
  }
}