@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.appFooter{
  text-align: center;
  padding: $unit - 0.5 0 $unit - 0.7 0;
  background: $color-primary;
  span{
    margin: $unit - 0.5 0 $unit - 0.5 0;
    color: $color-primary-dark;
    font-size: $font-size-small;
  }
}