.viewExpense{
  padding: 30px;
  width: 100%;
  display: inline-table;
  .titleBox{
    padding: 0 50px 0 50px;
    background: #008142;
    h3{
      color: #fff;
      letter-spacing: 1px;
      font-size: 2.5rem;
      display: inline-block;
      text-transform: uppercase;
      padding: 23px 30px 17px 0;
    }
    .rightButtons{
      float: right;
      margin-top: 20px;
      button{
        font-size: 25px;
        padding: 4px 10px 0 10px;
        letter-spacing: 1px;
        line-height: 40px;
        height: 40px;
        color: white;
        &:first-child{
          margin-right: 20px;
        }
        span{
          display: none;
        }
      }
    }
  }
  .bankContent{
    box-shadow: 0 0 5px 1px #e0e0e0;
    padding: 0 25px;
    .depositContent{
      padding: 45px 25px 40px;
      border-bottom: 1px solid #e0e0e0;
      h6{
        font-size: 16px;
        font-weight: normal;
        display: inline-block;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin: 0 0 40px 0;
        &:last-of-type{
          margin-left: 50px;
        }
      }
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin-bottom: 30px;
        .price{
          color: #008142;
          font-family: "Nexa Bold Regular", "Arial", sans-serif;
        }
        &:last-of-type{
          margin-bottom: 10px;
        }
      }
    }
    .accountContent{
      padding: 45px 25px 40px;
      border-bottom: 1px solid #e0e0e0;
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin-bottom: 30px;
        &:last-of-type{
          margin-bottom: 10px;
        }
      }
    }
    .projectContent{
      padding: 45px 25px 40px;
      .imageDiv {
        h5 {
          font-size: 20px;
          font-family: "Nexa Light Regular", "Arial", sans-serif;
          margin-bottom: 30px;
          span {
            color: #008142;
            font-family: "Nexa Bold Regular", "Arial", sans-serif;
          }
        }
      }
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular", "Arial", sans-serif;
        margin-bottom: 30px;
        span{
          color: #008142;
          font-family: "Nexa Bold Regular", "Arial", sans-serif;
        }
      }
    }
  }
}

/////////////////////////////////////////////////
//////////// rtl styling start here /////////////
/////////////////////////////////////////////////
body[dir="rtl"] .viewExpense .titleBox {
  width: 100%;
  display: inline-block;
}
body[dir="rtl"] .viewExpense .titleBox .rightButtons {
  float: left;
}
/////////////////////////////////////////////////
//////////// rtl styling end here ///////////////
/////////////////////////////////////////////////

//////////////// extra small media query start here ///////////////////
@media (min-width: 320px) and (max-width: 767px){

  .viewExpense{
    padding: 9px;
  }
  .viewExpense .titleBox{
    padding: 0 20px 15px 20px;
    display: inline-block;
    width: 100%;
  }
  .viewExpense .titleBox h3{
    padding: 23px 30px 0 0;
  }
  .viewExpense .bankContent{
    padding: 0 10px;
  }
  .viewExpense .bankContent .depositContent{
    padding: 20px 0 20px;
  }
  .viewExpense .bankContent .depositContent h6{
    margin: 0 0 20px 0;
    font-size: 15px;
  }
  .viewExpense .bankContent .depositContent h6:last-of-type{
    margin-left: 0;
  }
  .viewExpense .bankContent .depositContent h5{
    margin: 0 0 20px 0;
    font-size: 15px;
  }
  .viewExpense .bankContent .depositContent h5:last-of-type{
    margin-bottom: 0;
  }
  .viewExpense .bankContent .accountContent{
    padding: 20px 0;
  }
  .viewExpense .bankContent .accountContent h5{
    margin: 0 0 20px 0;
    font-size: 15px;
  }
  .viewExpense .bankContent .accountContent h5:last-of-type{
    margin-bottom: 0;
  }
  .viewExpense .bankContent .projectContent{
    padding: 20px 0;
  }
  .viewExpense .bankContent .projectContent h5{
    font-size: 15px;
  }

  .viewExpense .titleBox{
    position: relative;
  }
  .viewExpense .titleBox .rightButtons button{
    font-size: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 40px;
    min-width: 40px;
    height: 40px !important;
    border-radius: 50%;
    background: #008142;
    box-shadow: 0 0 10px 2px #666666;
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .viewExpense .titleBox .rightButtons button:last-of-type{
    position: fixed;
    bottom: 10px;
    right: 15px;
    top: auto;
    box-shadow: 0 0 10px 0 #666666;
  }
  .viewExpense .titleBox .rightButtons button span{
    display: inline-block !important;
    font-size: 24px;
    margin: 3px 0 0 6px;
  }
}

//////////////// extra small media query end here /////////////////////
