.appBar {
  background: $color-primary-dark;
  overflow: hidden;
  z-index: calc(1 + var(--z-index-highest));
  &:not(.flat) {
    z-index: calc(1 + var(--z-index-highest));
  }
  a {
    img {
      margin-top: -3px;
      width: calc(8.5 * var(--unit));
      float: left;
    }
  }
  button {
    color: $color-accent;
  }
}