@import "~react-toolbox/lib/globals";

.appBar {
  background: $color-primary-dark;
  overflow: hidden;
  z-index: $z-index-highest + 1;
  &:not(.flat) {
    z-index: $z-index-highest + 1;
  }
  a {
    img {
      margin-top: -3px;
      width: $unit * 8.5;
      float: left;
    }
  }
  button {
    color: $color-accent;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .appBar{
    height: 6.5rem;
    z-index: $z-index-highest + 5 !important;
    position: relative;
  }
}