.appBar {
  background: $color-primary-dark;
  overflow: hidden;
  z-index: calc(var(--z-index-highest) + 1);
  &:not(.flat) {
    z-index: calc(var(--z-index-highest) + 1);
  }
  a {
    img {
      margin-top: -3px;
      width: calc(var(--unit) * 8.5);
      float: left;
    }
  }
  button {
    color: $color-accent;
  }
}