@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

$drawer-width: 26 * $unit !default;

.drawer {
  background-color: $color-primary-dark;
  padding-top: 8.5rem;
  width: $drawer-width;
}

