@import "~react-toolbox/lib/variables.css";
@import "~react-toolbox/lib/list/config.css";


.drawer {
  background-color: $color-primary-dark;
  padding-top: calc(8.5 * var(--unit));
  width: calc(26 * var(--unit));
}

