@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";

.listItem{
  //background: $color-primary-dark;
  .item {
    padding: 0 $unit * 5.5;
    .itemText{
      font-size: $font-size-small;
      font-family: $-font-family-nexa_bold;
      font-weight: 600;
    }
    .itemAction{
      margin: 0.8rem 0;
    }
  }
}
