@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/list/config";


.listItem{
  &.active{
    background: $color-accent;
    .item {
      .itemText{
        color: $color-primary-dark;
      }
      .itemAction{
        span{
          color: $color-primary-dark;
        }
      }
    }
  }
  .item {
    padding: $unit - 0.9 $unit * 5.5 0;
    .itemText{
      font-size: $font-size-small;
      font-family: $preferred-font;
      color: $color-accent;
      margin-top: $unit - 0.8;
    }
    .itemAction{
      margin: $unit - 0.2 0;
      span{
        color: $color-primary;
      }
    }
  }
}

body[dir="rtl"] .itemText {
  margin: 0 15px 0 0;
  text-align: right;
}