@import "~react-toolbox/lib/variables.css";
@import "~react-toolbox/lib/list/config.css";


.listItem{
  &.active{
    background: $color-accent;
    .item {
      .itemText{
        color: $color-primary-dark;
      }
      .itemAction{
        span{
          color: $color-primary-dark;
        }
      }
    }
  }
  .item {
    padding: calc(0.9 - var(--unit)) calc(5.5 * var(--unit)) 0;
    .itemText{
      font-size: var(--font-size-small);
      font-family: $preferred-font;
      color: $color-accent;
      margin-top: calc(0.8 - var(--unit));
    }
    .itemAction{
      margin: calc(0.2 - var(--unit)) 0;
      span{
        color: $color-primary;
      }
    }
  }
}
