.logoWithText{
  text-align: center;
  img{
    width: 150px;
  }
}
.buttonGroup{
  margin-bottom: 5px;
  text-align: center;
  .primaryButton{
    background: #008142;
    color: white;
  }
  button{
    min-width: 120px;
  }
}