@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/button/config";

.reports{
  width: 100%;
  padding: 30px 30px 0;
  overflow: auto;
  div{
    div{
      label{
        color: #333333;
      }
    }
  }
}

.paginationList{
  //margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  ul{
    text-align: center;
    margin: 40px 0 20px 0;
    cursor: auto;
    li{
      display: inline-block;
      margin-left: 15px;
      font-size: 22px;
      color: #333;
      a{
        cursor: pointer;
      }
    }
  }
}

.dialogContent{
  > div{
    margin-bottom: $unit * 2;
    h3{
      color: $color-primary;
      font-size: $font-size-big + 0.7;
      text-transform: uppercase;
      letter-spacing: $unit - 0.9;
      word-spacing: $unit - 0.5;
      margin: 0 0 $unit * 1.2 0;
    }
    p{
      line-height: $unit * 2;
      color: $color-text;
      font-size: $font-size-big;
      letter-spacing: $unit - 0.9;
      text-align: center;
    }
  }
  .buttonBox{
    text-align: center;
    margin: 0;
    button{
      padding: $unit - 0.8 $unit * 5.9 0;
      height: $unit * 4.6;
      border-radius: $unit - 0.5;
      &:last-of-type{
        line-height: $unit * 3.6;
        padding: 0 $unit * 3.8 0;
        margin-left: $unit - 0.2;
        top: -6px;
        span{
          color: white;
          font-size: $font-size + 0.1;
        }
      }
    }
  }
}

////////////////////// new income styling /////////////////////////////
.incomeCard{
  margin: 30px auto 0;
  width: 96%;
  display: inline-table;
  padding-bottom: 20px;
  .card{
    padding-bottom: $unit * 5;
  }
  h3{
    background: #008142;
    color: #fff;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    display: block;
    text-transform: capitalize;
    padding: 23px 30px 17px 30px;
  }
  .incomeForm{
    padding: 30px;
    div{
      ul{
        position: absolute;
        li{
          width: 20%;
        }
      }
      label{
        color: #333333;
      }
      div{
        label{
          color: #333333;
        }
      }
    }
  }
  button{
    margin: 40px auto 0;
    display: block;
    padding: 2px 40px 0;
  }
}

////////////////////// new income styling /////////////////////////////

:global {
  .active{
    color: $color-primary !important;
  }
}

.viewExpense{
  padding: 30px;
  width: 100%;
  display: inline-table;
  .titleBox{
    padding: 0 50px 0 50px;
    background: #008142;
    h3{
      color: #fff;
      letter-spacing: 1px;
      font-size: 2.5rem;
      display: inline-block;
      text-transform: uppercase;
      padding: 23px 30px 17px 0;
    }
    .rightButtons{
      float: right;
      margin-top: 20px;
      button{
        font-size: 25px;
        padding: 4px 10px 0 10px;
        letter-spacing: 1px;
        line-height: 40px;
        height: 40px;
        color: white;
        &:first-child{
          margin-right: 20px;
        }
      }
    }
  }
  .bankContent{
    box-shadow: 0 0 5px 1px #e0e0e0;
    padding: 0 25px;
    .depositContent{
      padding: 45px 25px 40px;
      border-bottom: 1px solid #e0e0e0;
      h6{
        font-size: 16px;
        font-weight: normal;
        display: inline-block;
        font-family: "Nexa Light Regular";
        margin: 0 0 40px 0;
        &:last-of-type{
          margin-left: 50px;
        }
      }
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular";
        margin-bottom: 30px;
        .price{
          color: #008142;
          font-family: "Nexa Bold Regular", "Arial", sans-serif;
        }
        &:last-of-type{
          margin-bottom: 10px;
        }
      }
    }
    .accountContent{
      padding: 45px 25px 40px;
      border-bottom: 1px solid #e0e0e0;
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular";
        margin-bottom: 30px;
        &:last-of-type{
          margin-bottom: 10px;
        }
      }
    }
    .projectContent{
      padding: 45px 25px 40px;
      h5{
        font-size: 20px;
        font-family: "Nexa Light Regular";
        margin-bottom: 30px;
        span{
          color: #008142;
          font-family: "Nexa Bold Regular", "Arial", sans-serif;
        }
        &:last-of-type{
          margin-bottom: 10px;
        }
      }
    }
  }
}
